/*!
 * Hasgeek baseframe CSS, based on Twitter Bootstrap.
 */
body {
  overflow-y: scroll;
}

h1 {
  color: #df5e0e;
}
h1 a,
h1 a:visited {
  color: #df5e0e;
}
h1 a:hover,
h1 a:active {
  color: #974009;
}

h2 {
  color: #816894;
}
h2 a,
h2 a:visited {
  color: #816894;
}
h2 a:hover,
h2 a:active {
  color: #5a4867;
}

h3 {
  color: #816894;
}
h3 a,
h3 a:visited {
  color: #816894;
}
h3 a:hover,
h3 a:active {
  color: #5a4867;
}

header {
  margin-bottom: 12px;
}

#page-header {
  border-bottom: 1px solid #b7b7b7;
}
#page-header h1 {
  margin-top: 12px;
}

html,
body {
  height: 100%;
}

#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -67px;
}

#root_footer {
  height: 57px;
}

footer {
  clear: both;
  position: relative;
  min-height: 57px;
}

footer .footer-inner {
  margin-top: 10px;
  min-height: 57px;
  background: whiteSmoke url('/_baseframe/img/shadow.png?1460092674') no-repeat
    top center;
}

footer .container {
  text-align: center;
  font-size: 90%;
  padding-top: 1.5em;
  padding-bottom: 1em;
}
footer .container p {
  font-size: inherit;
}

#logo,
#logo-presents {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('/_baseframe/img/logo.png?1460092674');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 75px;
  height: 75px;
}
#logo a,
#logo-presents a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

#logo-presents {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('/_baseframe/img/hasgeek-presents.png?1460092674');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100px;
  height: 83px;
}

.loading {
  background: url('data:image/svg+xml;utf8,<svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%25" height="100%25" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve"><path opacity="0.5" fill="%23000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"><animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/></path></svg>')
    center no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.loading.hidden {
  display: none;
}

.section {
  margin-bottom: 24px;
}

.usertools {
  list-style: none;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  font-size: 90%;
}
.usertools li {
  float: left;
  padding: 0.25em 0.5em;
  margin: 0;
  border-right: 1px solid #e8e8e8;
}
.usertools li a {
  text-decoration: none;
  border-bottom: 0;
}
.usertools li.profile {
  font-weight: 600;
}
.usertools li:last-child {
  border-right: 0;
  padding-right: 0;
}

.video,
.video169,
.video43 {
  position: relative;
  height: 0;
  overflow: hidden;
}
.video.youtube,
.video169.youtube,
.video43.youtube {
  padding-top: 30px;
}
.video.slideshare,
.video169.slideshare,
.video43.slideshare {
  padding-top: 36px;
}
.video.speakerdeck,
.video169.speakerdeck,
.video43.speakerdeck {
  padding-top: 62px;
}
.video.ustream,
.video169.ustream,
.video43.ustream {
  padding-top: 32px;
}
.video iframe,
.video object,
.video embed,
.video169 iframe,
.video169 object,
.video169 embed,
.video43 iframe,
.video43 object,
.video43 embed {
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video,
.video169 {
  padding-bottom: 56.25%;
}

.video43 {
  padding-bottom: 75%;
}

.link-list-line {
  list-style: none;
  margin-left: -0.5em;
  margin-right: -0.5em;
  overflow: hidden;
  *zoom: 1;
}
.link-list-line li {
  float: left;
  padding: 0 0.5em;
  white-space: nowrap;
}

table.mceLayout {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transition:
    border 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -o-transition:
    border 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -webkit-transition:
    border 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition:
    border 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  border: 1px solid #ccc !important;
  -moz-box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(255, 255, 255, 0.5) inset;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(255, 255, 255, 0.5) inset;
}
table.mceLayout tr.mceFirst td.mceToolbar.mceFirst {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  border-top: none;
}
table.mceLayout tr.mceLast td.mceLast {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none !important;
}
table.mceLayout.focus {
  border: 1px solid #66afe9 !important;
  -moz-box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  -webkit-box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  -moz-transition:
    border 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -o-transition:
    border 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -webkit-transition:
    border 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition:
    border 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.mce-tinymce {
  -moz-border-radius: 4px !important;
  -webkit-border-radius: 4px;
  border-radius: 4px !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition:
    border 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -o-transition:
    border 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -webkit-transition:
    border 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition:
    border 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.mce-tinymce.active {
  border-color: #66afe9 !important;
  -moz-box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  -webkit-box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  -moz-transition:
    border 0.2s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -o-transition:
    border 0.2s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -webkit-transition:
    border 0.2s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition:
    border 0.2s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.mce-panel {
  background-image: none !important;
  border-color: #ccc !important;
  background-color: transparent !important;
  overflow-y: auto;
}

.mce-panel.mce-first {
  -moz-border-radius-topleft: 4px !important;
  -webkit-border-top-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
  -moz-border-radius-topright: 4px !important;
  -webkit-border-top-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.mce-panel.mce-last {
  -moz-border-radius-bottomleft: 4px !important;
  -webkit-border-bottom-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  -moz-border-radius-bottomright: 4px !important;
  -webkit-border-bottom-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.mce-edit-area {
  border-top: none !important;
}
.mce-edit-area iframe {
  -moz-border-radius: 4px !important;
  -webkit-border-radius: 4px;
  border-radius: 4px !important;
}

.mce-menu {
  background-color: #fff !important;
}

.mce-toolbar .mce-btn {
  background-color: transparent !important;
  border-color: #ccc !important;
  background-image: none !important;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.mce-toolbar .mce-btn:hover,
.mce-toolbar .mce-btn:focus {
  background-image: none !important;
  border-color: #adadad !important;
  background-color: #ebebeb !important;
}
.mce-toolbar .mce-btn button {
  line-height: 16px;
}

.mce-tooltip-inner {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-family:
    'Source Sans Pro', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif !important;
}

.mce-window {
  background: #fff !important;
}

.listwidget ul,
.listwidget ol {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
}
.listwidget ul li,
.listwidget ol li {
  position: relative;
  margin-left: 1.25em;
}
.listwidget ul input,
.listwidget ol input {
  position: absolute;
  left: -1.25em;
}
.listwidget ul label,
.listwidget ol label {
  display: inline-block;
}

.form-horizontal .listwidget .control-label {
  padding-top: 0;
}

.controls.inline input[type='checkbox'] {
  vertical-align: baseline;
}
.controls.inline label {
  display: inline;
  vertical-align: baseline;
}

.help-error {
  margin-top: 11px;
  margin-bottom: 0;
  border: 1px solid #b94a48;
  color: white !important;
  background: #b94a48;
  padding: 4px 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  display: inline-block;
}
.help-error:before {
  display: block;
  content: '';
  position: absolute;
  border: 6px solid transparent;
  border-bottom: 6px solid #b94a48;
  top: -13px;
  left: 20px;
}
.help-error a,
.help-error a:active,
.help-error a:hover,
.help-error a:visited,
.help-error a:focus {
  color: white;
  text-decoration: underline;
}

.help-required {
  color: #b94a48;
  font-weight: 600;
  font-family: monospace;
}

.control-label {
  font-weight: 600;
  position: relative;
}

.control-group textarea {
  margin-bottom: 0;
}

input.datetime-date {
  display: inline;
  width: 10em;
}

input.datetime-time {
  display: inline;
  width: 7.2em;
}

textarea {
  width: 90%;
  height: 10em;
}

input[name='title'],
.field-title {
  font-weight: 600;
  font-size: 18px;
}

input[type='url'],
input[name='name'] {
  font-family:
    Consolas, Inconsolata, Menlo, 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', monospace;
}

input[name='coordinates'] {
  width: auto;
  display: inline;
}

.help-block {
  font-size: 90%;
  color: #777;
}

fieldset:not(:first-child) {
  margin-top: 24px;
}

legend {
  margin-bottom: 12px;
}

.button-bar .btn {
  margin-bottom: 5px;
}

.btn {
  -moz-transition:
    border 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -o-transition:
    border 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -webkit-transition:
    border 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition:
    border 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus {
  -moz-transition:
    border 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -o-transition:
    border 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  -webkit-transition:
    border 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition:
    border 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.btn:focus,
.btn:active,
.btn:active:focus {
  outline: none;
  -moz-box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  -webkit-box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}
.btn.btn-default:focus {
  border-color: #66afe9 !important;
}

form.form-button {
  margin: 0;
  display: inline-block;
}

ul.grid {
  list-style: none;
  margin-left: 0;
}
ul.grid.container-fluid {
  padding: 0;
}
ul.grid > .row-fluid > [class*='span']:first-child {
  padding-left: 13px;
}
ul.grid > .row-fluid > [class*='span'] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul.grid > li {
  border-bottom: 1px solid #d9d9d9;
  padding-top: 12px;
  padding-bottom: 11px;
  position: relative;
  margin: 0;
}
ul.grid > li.item-hover:hover {
  border-bottom: 1px solid #b7b7b7;
  background: #f5f5f5;
}
ul.grid > li.header {
  padding-top: 11px;
  border-top: 0;
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
}

.nav.nav-grid {
  margin-bottom: 0;
}

.unstyled {
  margin: 0;
  padding: 0;
  border: 0;
}

.print-only {
  display: none;
}

.htile {
  background-color: #eee;
  padding: 8px 12px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.cardset,
.userset {
  list-style: none;
  padding-left: 0;
}
.cardset li,
.userset li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  margin-bottom: 24px;
}
.cardset li .card-badge,
.userset li .card-badge {
  position: absolute;
  right: 6px;
  top: 2px;
  color: #595959;
}
.cardset li a,
.userset li a {
  overflow: hidden;
  border: 1px solid #afafaf;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -moz-box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.1),
    0 0 10px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.1),
    0 0 10px rgba(0, 0, 0, 0.1) inset;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.1),
    0 0 10px rgba(0, 0, 0, 0.1) inset;
  width: 100%;
  height: 100%;
  padding: 0 12px 10px;
  background: #fff;
  color: inherit;
  -moz-transition-property: 'background';
  -o-transition-property: 'background';
  -webkit-transition-property: 'background';
  transition-property: 'background';
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.cardset li a:hover,
.cardset li a:focus,
.userset li a:hover,
.userset li a:focus {
  color: inherit;
  text-decoration: none;
  background: #f6f6f6;
  -moz-transition-property: 'background';
  -o-transition-property: 'background';
  -webkit-transition-property: 'background';
  transition-property: 'background';
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.cardset li .card-title,
.cardset li .card-body,
.userset li .card-title,
.userset li .card-body {
  text-overflow: ellipsis;
}
.cardset li .card-title,
.userset li .card-title {
  padding: 10px 0 12px 0;
  height: 5.5em;
}
.cardset li .card-body,
.userset li .card-body {
  margin: 12px -14px 0;
  padding: 11px 14px 0;
  border-top: 1px solid #e8e8e8;
  height: 7em;
}
.cardset li.span3 .card-body,
.userset li.span3 .card-body {
  height: 5em;
}
.cardset li .card-body.large-plus,
.userset li .card-body.large-plus {
  text-align: center;
  font-size: 100px;
  line-height: 1;
}
.cardset li h2,
.cardset li h3,
.userset li h2,
.userset li h3 {
  margin-top: 0;
  margin-bottom: 5px;
  max-height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}
.cardset li h3,
.userset li h3 {
  font-size: 12px;
  color: #666;
  font-weight: normal;
}

/* Cookies */
.cookies-required-alert,
.no-cookies .cookies-required {
  display: none;
}

.cookies-required,
.no-cookies .cookies-required-alert {
  display: block;
}

.no-cookies .cookies-required-alert {
  margin-top: 1em;
}

.rwd-line {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.js .jshidden,
.js .no-js-only {
  display: none;
  visibility: hidden;
}

.no-js .no-jshidden,
.no-js .js-only {
  display: none;
  visibility: hidden;
}

.userlogin .no-userlogin-only {
  display: none;
  visibility: hidden;
}

.no-userlogin .userlogin-only {
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .form-horizontal .help-required {
    position: absolute;
    right: -10px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #logo {
    background-image: url('/_baseframe/img/logo@2x.png?1460092674');
    -webkit-background-size: auto 75px;
  }
}
@media only screen and (max-width: 767px) {
  .rwd-line {
    display: block;
  }

  ul.grid > .row-fluid > [class*='span']:first-child {
    padding-left: 0;
  }

  .cardset li,
  .userset li {
    margin-bottom: 24px !important;
  }
}
.map-marker {
  margin-top: 12px;
  width: 100%;
  height: 20em;
}

.map-location {
  position: relative;
}

.map-clear {
  position: absolute;
  top: 6px;
  right: 7px;
  z-index: 2;
  background: #fff;
  font-size: 18px;
}

.listwidget ul > li > label {
  font-weight: normal;
}

.selected label {
  font-weight: 600;
}

.listwidget input[type='radio']:checked + label {
  font-weight: 600;
}

.form-control {
  padding: 6px 6px;
}

.form-horizontal .radio,
.form-horizontal .checkbox {
  padding-top: 0;
  min-height: 24px;
}

.control-group,
.form-group {
  margin-bottom: 15.04px;
}
.control-group .table,
.form-group .table {
  margin-bottom: 0;
}
.control-group .help-block,
.form-group .help-block {
  margin-bottom: 0;
}

.form-group + .help-error,
.form-group + div > .help-error {
  margin-top: -4px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .form-horizontal .help-required {
    position: absolute;
    right: 5px;
  }
}
textarea#description {
  min-height: 300px;
}

/* bs3 buttons */
button.btn,
a.btn {
  overflow: hidden;
}

.btn:active,
.btn.active {
  box-shadow: none;
}

.btn-link {
  text-shadow: none;
}

.btn-default {
  border-bottom: 2px solid #adadad;
  background-color: #f5f5f5;
}
.btn-default:active,
.btn-default.active {
  border-bottom: 1px solid #adadad;
  border-top: 2px solid #adadad;
}

.btn-danger {
  border-bottom: 2px solid #ac2925;
}
.btn-danger:active,
.btn-danger.active {
  border-bottom: 1px solid #ac2925;
  border-top: 2px solid #ac2925;
}

.btn-primary {
  border-bottom: 2px solid #285e8e;
}
.btn-primary:active,
.btn-primary.active {
  border-bottom: 1px solid #285e8e;
  border-top: 2px solid #285e8e;
}

.btn-success {
  border-bottom: 2px solid #398439;
}
.btn-success:active,
.btn-success.active {
  border-bottom: 1px solid #398439;
  border-top: 2px solid #398439;
}

.btn-info {
  border-bottom: 2px solid #269abc;
}
.btn-info:active,
.btn-info.active {
  border-bottom: 1px solid #269abc;
  border-top: 2px solid #269abc;
}

.btn-warning {
  border-bottom: 2px solid #d58512;
}
.btn-warning:active,
.btn-warning.active {
  border-bottom: 1px solid #d58512;
  border-top: 2px solid #d58512;
}

strong {
  font-weight: 600;
}

.page-header {
  margin: 0 0 12px;
  padding: 0;
  border-bottom: 0;
}
.page-header h3 {
  margin-top: 0;
  font-weight: normal;
}
.page-header h2 {
  margin-top: 0;
}
.page-header h1 {
  line-height: 36px;
  margin-top: 0;
}

h1 {
  font-size: 25px;
  line-height: 36px;
  margin-top: 12px;
  margin-bottom: 12px;
}

h2 {
  font-size: 22px;
  line-height: 36px;
  margin-top: 12px;
  margin-bottom: 12px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}

h1 small,
h2 small,
h3 small {
  line-height: 24px;
}

.lead {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
}

.well {
  padding: 11px 14px;
  margin-left: 0;
}
.well .nav.nav-list {
  margin-left: -14px;
  margin-right: -14px;
}
.well.nav .nav-header {
  display: block;
  color: #999999;
  font-size: 12.8px;
  font-weight: 600;
  line-height: 19.2px;
  padding: 0px 15px 5px 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.well.nav.nav-list {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 0;
  padding-right: 0;
}

.nav-list > li > a,
.nav-list .nav-header {
  padding: 0 15px;
}

.nav-list [class^='icon-'],
.nav-list [class*=' icon-'] {
  margin-bottom: -2px;
}

.nav-list > li > a [class^='icon-']:before,
.nav-list > li > a [class*=' icon-']:before {
  color: #333;
}

.nav-list > li.active > a [class^='icon-']:before,
.nav-list > li.active > a [class*=' icon-']:before {
  color: inherit;
}

.nav li + .nav-header {
  margin-top: 12px;
}

.nav-pills > li > a {
  margin-top: 0;
}

.nav-open {
  overflow: hidden;
}

span[class^='icon-'],
span[class*=' icon-'] {
  text-align: inherit !important;
  margin-left: 1.5em;
  position: relative;
  width: auto !important;
}
span[class^='icon-']:before,
span[class*=' icon-']:before {
  position: absolute !important;
  left: -1.5em !important;
  top: 0;
  width: 1.25em !important;
  text-align: center !important;
}

.nav-list > li span[class^='icon-'],
.nav-list > li span[class*=' icon-'] {
  display: block;
  line-height: 24px;
}
.nav-list > li:before {
  top: 0.1em !important;
}

.dropdown-right {
  left: auto;
  right: 0;
}

.control-group {
  margin-bottom: 12px;
}

label {
  margin-bottom: 0;
}

.table-condensed th,
.table-condensed td {
  padding: 3px 5px;
}

.table tr.link td,
.table tr.link th {
  padding: 0;
}
.table tr.link td a,
.table tr.link th a {
  display: block;
  padding: 8px;
}
.table tr.link td a:hover,
.table tr.link th a:hover {
  text-decoration: none;
}

.table tr.link a:hover {
  color: #005580;
}

.table.table-condensed tr.link td a,
.table.table-condensed tr.link th a {
  padding: 4px;
}

.table .num {
  text-align: right;
}

.table a.link-util {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.table tr:hover a.link-util {
  opacity: 1;
  filter: alpha(opacity=100);
}

.table.table-disabled {
  color: #aaa;
}

blockquote {
  padding: 0 0 0 11px;
  margin: 0 0 12px;
  border-left: 5px solid #ccc;
}
blockquote p {
  margin-bottom: 12px;
  line-height: 24px;
  font-size: 100%;
  font-weight: normal;
}

.alert .btn {
  vertical-align: baseline;
}

.push-right {
  float: right;
}

.modal-header h3 {
  margin-top: 0;
  color: #333;
}
.modal-header .close {
  margin-top: 0;
}

.form-inline {
  line-height: 36px;
}
.form-inline button,
.form-inline input,
.form-inline select,
.form-inline textarea,
.form-inline .btn,
.form-inline .chzn-container {
  vertical-align: top;
}

input[type='image'],
input[type='checkbox'],
input[type='radio'] {
  vertical-align: baseline;
}

code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

.hero-unit.clean {
  padding: 0;
  background-color: inherit;
  margin-bottom: 24px;
}
.hero-unit.clean h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 24px;
}

.jqstooltip {
  box-sizing: content-box;
}

@media screen and (max-width: 767px) {
  dl.infobox {
    border: 1px solid #b7b7b7;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background: #f6f6f6;
    padding: 12px;
  }
}
@media screen and (min-width: 768px) {
  dl.infobox {
    position: relative;
    border: 1px solid #b7b7b7;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 0;
    background: #e8e8e8;
  }
  dl.infobox dt {
    width: 10em;
    float: left;
    clear: left;
    margin: 0;
    padding: 4px 0 0 0.5em;
    text-align: right;
  }
  dl.infobox dd {
    *zoom: 1;
    position: relative;
    text-indent: 0;
    clear: none;
    margin: 0;
    margin-left: 11.25em;
    border-left: 1px solid #d7d7d7;
    background: #f6f6f6;
    padding: 4px 0 0 0.75em;
  }
  dl.infobox dd:after {
    content: '';
    display: table;
    clear: both;
  }
  dl.infobox dd ul,
  dl.infobox dd ol {
    margin-bottom: 0;
  }
  dl.infobox dt:first-child {
    padding-top: 12px;
  }
  dl.infobox dt:first-child + dd {
    padding-top: 12px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
  }
  dl.infobox dd:last-child {
    padding-bottom: 12px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
.datepicker {
  background-color: #ffffff;
  border-color: #999;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  display: none;
  position: absolute;
  z-index: 900;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 18px;
  padding-bottom: 4px;
  width: 218px;
  font-size: 13px;
}

.datepicker .nav {
  font-weight: 600;
  width: 100%;
  padding: 4px 0;
  background-color: #f5f5f5;
  color: #808080;
  border-bottom: 1px solid #ddd;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  zoom: 1;
}

.datepicker .nav:before,
.datepicker .nav:after {
  display: table;
  content: '';
  zoom: 1;
  *display: inline;
}

.datepicker .nav:after {
  clear: both;
}

.datepicker .nav span {
  display: block;
  float: left;
  text-align: center;
  height: 28px;
  line-height: 28px;
  position: relative;
}

.datepicker .nav .bg {
  width: 100%;
  background-color: #fdf5d9;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.datepicker .nav .fg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.datepicker .button {
  cursor: pointer;
  padding: 0 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.datepicker .button:hover {
  background-color: #808080;
  color: #ffffff;
}

.datepicker .months {
  float: left;
  margin-left: 4px;
}

.datepicker .months .name {
  width: 72px;
  padding: 0;
}

.datepicker .years {
  float: right;
  margin-right: 4px;
}

.datepicker .years .name {
  width: 36px;
  padding: 0;
}

.datepicker .dow,
.datepicker .days div {
  float: left;
  width: 30px;
  line-height: 25px;
  text-align: center;
}

.datepicker .dow {
  font-weight: 600;
  color: #808080;
}

.datepicker .calendar {
  padding: 4px;
}

.datepicker .days div {
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.datepicker .days div:hover {
  background-color: #0064cd;
  color: #ffffff;
}

.datepicker .overlap {
  color: #bfbfbf;
}

.datepicker .today {
  background-color: #fee9cc;
}

.datepicker .selected {
  background-color: #bfbfbf;
  color: #ffffff;
}

.ad-medrect {
  width: 300px;
  height: 250px;
  display: inline-block;
}

.ad-rect {
  width: 180px;
  height: 150px;
  display: inline-block;
}

.ad-leaderboard {
  width: 728px;
  height: 90px;
  display: inline-block;
}

.ad-wideskyscraper {
  width: 160px;
  height: 600px;
  display: inline-block;
}

.ad-halfpage {
  width: 300px;
  height: 600px;
  display: inline-block;
}

.ad-button {
  width: 120px;
  height: 60px;
  display: inline-block;
}

.ad-microbar {
  width: 88px;
  height: 31px;
  display: inline-block;
}

@media print {
  .no-print {
    display: none !important;
  }

  .print-only {
    display: block;
  }

  img.print-only {
    display: inline-block;
  }

  span.print-only {
    display: inline;
  }

  table.print-only {
    display: table;
  }

  #logo {
    background: none !important;
    text-indent: 0 !important;
    width: auto !important;
    height: 1.5em !important;
    line-height: 1.5em;
    padding-top: 0.5em;
    font-size: 30px;
    font-weight: 600;
  }
  #logo a {
    color: black;
  }

  body,
  code,
  pre,
  legend,
  label,
  h1,
  h2,
  h3 {
    color: black;
  }

  footer .footer-inner {
    background: none !important;
  }

  .well {
    border: 1px solid #b7b7b7;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .table,
  .table th,
  .table td,
  .table th + th,
  .table td + td,
  .table th + td,
  .table td + th,
  .table-bordered,
  .table-bordered th,
  .table-bordered td,
  .table-bordered th + th,
  .table-bordered td + td,
  .table-bordered th + td,
  .table-bordered td + th {
    border-color: #b7b7b7;
  }

  .print-span1 {
    width: 42px;
  }

  .print-span2 {
    width: 104px;
  }

  .print-span3 {
    width: 166px;
  }

  .print-span4 {
    width: 228px;
  }

  .print-span5 {
    width: 290px;
  }

  .print-span6 {
    width: 352px;
  }

  .print-span7 {
    width: 414px;
  }

  .print-span8 {
    width: 476px;
  }

  .print-span9 {
    width: 538px;
  }

  .print-span10 {
    width: 600px;
  }

  .print-span11 {
    width: 662px;
  }

  .print-span12,
  .container {
    width: 724px;
  }

  .print-offset1 {
    margin-left: 82px;
  }

  .print-offset2 {
    margin-left: 144px;
  }

  .print-offset3 {
    margin-left: 206px;
  }

  .print-offset4 {
    margin-left: 268px;
  }

  .print-offset5 {
    margin-left: 330px;
  }

  .print-offset6 {
    margin-left: 392px;
  }

  .print-offset7 {
    margin-left: 454px;
  }

  .print-offset8 {
    margin-left: 516px;
  }

  .print-offset9 {
    margin-left: 578px;
  }

  .print-offset10 {
    margin-left: 640px;
  }

  .print-offset11 {
    margin-left: 702px;
  }
}
/* ================= */
/* = Media Queries = */
/* ================= */
@media screen and (max-width: 767px) {
  .nav-tabs > li {
    margin-bottom: 0;
    float: none;
    margin-bottom: 3px;
    margin-left: -12px;
    margin-right: -12px;
  }
  .nav-tabs > li > a {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 0;
    line-height: 1;
  }
  .nav-tabs > li > a:hover {
    text-decoration: none;
    background-color: #eee;
    border: 0;
  }

  .nav-tabs > .active > a,
  .nav-tabs > .active > a:hover {
    border: 0;
    color: white;
    background-color: #08c;
  }
}
/*
	baseframe customizations
*/
#page-header {
  display: none;
}

header {
  min-height: 50px;
}

@media screen and (min-width: 768px) {
  #page-header {
    display: block;
  }

  header {
    min-height: 0;
  }

  .listwidget.horizlist li {
    display: inline-block;
    margin-right: 1em;
  }
}
