.DS_Store
*.pyc
test.db
*.wpr
.project
.pydevproject
.settings
*.swp
*.egg-info
.coverage
.sass-cache
docs/_build
build/
dist/
baseframe/static/css/packed.css
baseframe/static/js/packed.js
baseframe/static/js/tinymce3
baseframe/static/js/tinymce4
baseframe/static/js/codemirror
docs/_build
.cache
.pytest_cache
