.DS_Store
*.pyc
test.db
*.wpr
.project
.pydevproject
.settings
*.swp
*.egg-info
.coverage
.sass-cache
docs/baseframe/_build
build/
dist/
src/baseframe/static/css/packed.css
src/baseframe/static/js/packed.js
src/baseframe/static/js/tinymce3
src/baseframe/static/js/tinymce4
src/baseframe/static/js/codemirror
.cache
.pytest_cache
.vscode
