language: python
python:
  - "2.7"
  - "3.6"
# Enable 3.7 without globally enabling sudo and dist: xenial for other build jobs
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true
# command to install dependencies
install:
  - pip install -r test_requirements.txt
  - python setup.py install
# command to run tests
before_script:
  - psql -c 'create database baseframe_test;' -U postgres
script: ./runtests.sh
after_success:
  - coveralls
notifications:
  email: false
  slack:
    - hasgeek:HDCoMDj3T4ICB59qFFVorCG8
    - friendsofhasgeek:3bLViYSzhfaThJovFYCVD3fX
