@font-face {
  font-family: 'Fira Mono';
  src: url('eot/FiraMono-Bold.eot');
  src: local('Fira Mono Bold'),
    url('eot/FiraMono-Bold.eot') format('embedded-opentype'),
    url('woff2/FiraMono-Bold.woff2') format('woff2'),
    url('woff/FiraMono-Bold.woff') format('woff'),
    url('ttf/FiraMono-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
