@media screen and (max-width: 767px) {
    dl.infobox {
        border: 1px solid $color-outline;
        @include border-radius(4px);
        @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
        background: $color-infobox-definition;
        padding: $body-line-height / 2;
    }
}

@media screen and (min-width: 768px) {
    dl.infobox {
        $width-infobox-term: 10em;

        position: relative;
        border: 1px solid $color-outline;
        @include border-radius(4px);
        @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
        padding: 0;
        background: $color-infobox-term;

        dt {
            width: $width-infobox-term;
            float: left;
            clear: left;
            margin: 0;
            padding: 4px 0 0 0.5em;
            text-align: right;
        }

        dd {
            @include pie-clearfix;
            position: relative;
            text-indent: 0;
            clear: none;
            margin: 0;
            margin-left: ($width-infobox-term + 1.25em);
            border-left: 1px solid #d7d7d7;
            background: $color-infobox-definition;
            padding: 4px 0 0 0.75em;

            // &:before {
                // display: block;
                // content: "";
                // position: absolute;
                // top: 0;
                // left: 0;
                // bottom: 0;
                // border-left: 1px solid #eee; /* Fake shadow colour */
            // }
            ul, ol {
                margin-bottom: 0;
            }
        }
        dt:first-child {
            padding-top: $body-line-height / 2;
        }
        dt:first-child + dd {
            padding-top: $body-line-height / 2;
            @include border-top-right-radius(4px);
        }
        dd:last-child {
            padding-bottom: $body-line-height / 2;
            @include border-bottom-right-radius(4px);
        }
    }
}
