@import "compass"

body
  overflow-y: scroll

h1
  color: $color-h1
  a, a:visited
    color: $color-h1
  a:hover, a:active
    color: darken($color-h1, 15%)

h2
  color: $color-h2
  a, a:visited
    color: $color-h2
  a:hover, a:active
    color: darken($color-h2, 15%)

h3
  color: $color-h3
  a, a:visited
    color: $color-h3
  a:hover, a:active
    color: darken($color-h3, 15%)

header
  //background-color: whiteSmoke
  margin-bottom: $body-line-height / 2

#page-header
  border-bottom: 1px solid $color-outline
  h1
    margin-top: $body-line-height / 2

// Start sticky footer
html, body
  height: 100%

#root
  clear: both
  min-height: 100%
  height: auto !important
  height: 100%
  margin-bottom: -$footer-height

#root_footer
  height: $footer-height - 10px

footer
  clear: both
  position: relative
  min-height: $footer-height - 10px
// End sticky footer

footer .footer-inner
  margin-top: 10px
  min-height: $footer-height - 10px
  / background: whiteSmoke image-url('shadow.png') no-repeat top center

footer .container
  text-align: center
  font-size: 90%
  padding-top: 1.5em
  padding-bottom: 1em
  p
    font-size: inherit

#logo, #logo-presents
  @include replace-text-with-dimensions('logo.png')
  a
    display: block
    width: 100%
    height: 100%
    margin: 0
    padding: 0
    border: 0
    text-decoration: none

#logo-presents
  @include replace-text-with-dimensions('hasgeek-presents.png')

.loading
  // From http://codepen.io/aurer/pen/jEGbA
  // Circle with spinning arc
  // background: url('data:image/svg+xml;utf8,<svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%25" height="100%25" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve"><path opacity="0.2" fill="%23000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/><path fill="%23000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z"><animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" dur="0.5s" repeatCount="indefinite"/></path></svg>') center no-repeat

  // Spinning arc
  background: url('data:image/svg+xml;utf8,<svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%25" height="100%25" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve"><path opacity="0.5" fill="%23000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"><animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/></path></svg>') center no-repeat

  // Jumping sticks
  // background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%25" height="100%25" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve"><rect x="0" y="0" width="4" height="10" fill="%23333"><animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0" dur="0.6s" repeatCount="indefinite" /></rect><rect x="10" y="0" width="4" height="10" fill="%23333"><animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0.2s" dur="0.6s" repeatCount="indefinite" /></rect><rect x="20" y="0" width="4" height="10" fill="%23333"><animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0.4s" dur="0.6s" repeatCount="indefinite" /></rect></svg>') center no-repeat

  width: $body-line-height
  height: $body-line-height
  +inline-block
  &.hidden
    display: none

.section
  margin-bottom: $body-line-height

.usertools
  list-style: none
  position: absolute
  right: 0
  bottom: 0
  margin: 0
  font-size: 90%
  li
    float: left
    padding: 0.25em 0.5em
    margin: 0
    border-right: 1px solid $color-outline-thin
    a
      text-decoration: none
      border-bottom: 0
    &.profile
      font-weight: 600
    &:last-child
      border-right: 0
      padding-right: 0

.video, .video169, .video43
  position: relative
  height: 0
  overflow: hidden

  &.youtube
    padding-top: 30px

  &.slideshare
    padding-top: 36px

  &.speakerdeck
    padding-top: 62px

  &.ustream
    padding-top: 32px

  iframe, object, embed
    position: absolute
    border: 0
    margin: 0
    padding: 0
    top: 0
    left: 0
    width: 100%
    height: 100%

.video, .video169
  padding-bottom: 56.25% // 16/9 ratio

.video43
  padding-bottom: 75%

.link-list-line
  list-style: none
  margin-left: -0.5em
  margin-right: -0.5em
  @include clearfix
  li
    float: left
    padding: 0 0.5em
    white-space: nowrap

// Rich text editor
table.mceLayout
  @include border-radius(4px)
  @include transition(border ease-in-out .15s, box-shadow ease-in-out .15s)
  border: 1px solid #ccc !important
  +box-shadow(0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(255, 255, 255, 0.5) inset)
  tr.mceFirst td.mceToolbar.mceFirst
    @include border-top-left-radius(4px)
    @include border-top-right-radius(4px)
    border-top: none
  tr.mceLast td.mceLast
    @include border-bottom-left-radius(4px)
    @include border-bottom-right-radius(4px)
    border-bottom: none !important
  &.focus
    border: 1px solid $color-focus-border !important
    @include box-shadow(0 0 8px $color-focus-glow)
    @include transition(border ease-in-out .15s, box-shadow ease-in-out .15s)

// TinyMCE 4 customizations
.mce-tinymce
  +border-radius(4px !important)
  +box-shadow(none)
  +transition(border ease-in-out .15s, box-shadow ease-in-out .15s)
  +box-sizing(border-box !important)

  &.active
    border-color: $color-focus-border !important
    +box-shadow(0 0 8px $color-focus-glow)
    +transition(border ease-in-out .2s, box-shadow ease-in-out .15s)

.mce-panel
  background-image: none !important
  border-color: #ccc !important
  background-color: transparent !important
  overflow-y: auto

.mce-panel.mce-first
  +border-top-radius(4px !important)

.mce-panel.mce-last
  +border-bottom-radius(4px !important)

.mce-edit-area
  border-top: none !important
  iframe
    +border-radius(4px !important)

.mce-menu
  background-color: #fff !important

// .mce-toolbar-grp.affix
//   position: fixed
//   top: 0 // FIXME: Lower on mobile

.mce-toolbar .mce-btn
  background-color: transparent !important
  border-color: #ccc !important
  background-image: none !important
  +border-radius(4px)

  &:hover, &:focus
    background-image: none !important
    border-color:  #adadad !important
    background-color: #ebebeb !important

  button
    line-height: 16px

.mce-tooltip-inner
  +box-shadow(none !important)
  font-family: $body-font-family !important

.mce-window
  background: #fff !important

// Forms
.listwidget
  ul, ol
    list-style: none
    padding-left: 0
    margin-left: 0
    margin-bottom: 0

    li
      position: relative
      margin-left: 1.25em

    input
      // vertical-align: baseline
      position: absolute
      left: -1.25em

    label
      display: inline-block
      // vertical-align: baseline

.form-horizontal .listwidget .control-label
  padding-top: 0

.controls.inline
  input[type="checkbox"]
    vertical-align: baseline
  label
    display: inline
    vertical-align: baseline

// .controls.inline, .listwidget ul
//   label
//     margin-left: 0.25em

.help-error
  margin-top: 11px
  margin-bottom: 0
  border: 1px solid #b94a48
  color: white !important
  background: #b94a48
  padding: 4px 12px
  +border-radius(3px)
  position: relative
  display: inline-block

  &:before
    display: block
    content: ""
    position: absolute
    border: 6px solid transparent
    border-bottom: 6px solid #b94a48
    top: -13px
    left: 20px

  a, a:active, a:hover, a:visited, a:focus
    color: white
    text-decoration: underline

.help-required
  color: #b94a48
  font-weight: 600
  font-family: monospace

.control-label
  font-weight: 600
  position: relative

.control-group textarea
  margin-bottom: 0

input.datetime-date
  display: inline
  width: 10em

input.datetime-time
  display: inline
  width: 5em

textarea
  width: 90%
  height: 10em

input[name="title"], .field-title
  font-weight: 600
  font-size: 18px

input[type="url"], input[name="name"]
  font-family: Consolas, Inconsolata, Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace

input[name="coordinates"]
  width: auto
  display: inline

.help-block
  font-size: 90%
  color: #777

fieldset:not(:first-child)
  margin-top: $body-line-height

legend
  margin-bottom: $body-line-height / 2

.button-bar .btn
  margin-bottom: 5px

.btn
  +transition(border ease-in-out .15s, background-color ease-in-out .15s, box-shadow ease-in-out .15s)
  &:hover, &:focus, &:active, &:active:focus
    +transition(border ease-in-out .15s, background-color ease-in-out .15s, box-shadow ease-in-out .15s)
  &:focus, &:active, &:active:focus
    outline: none
    +box-shadow(0 0 8px $color-focus-glow)
  &.btn-default:focus
    border-color: $color-focus-border !important // Required to override border-bottom


// Single-button forms
form.form-button
  margin: 0
  display: inline-block

ul.grid
  list-style: none
  margin-left: 0

  &.container-fluid
    padding: 0
    // margin-left: -2px

  & > .row-fluid > [class*="span"]:first-child
    padding-left: 13px

  & > .row-fluid > [class*="span"]
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    +box-sizing(border-box)

  & > li
    border-bottom: 1px solid #d9d9d9
    padding-top: $body-line-height / 2
    padding-bottom: $body-line-height / 2 - 1px
    position: relative
    margin: 0

    &.item-hover:hover
      border-bottom: 1px solid #b7b7b7
      background: #f5f5f5

  & > li.header
    padding-top: $body-line-height / 2 - 1px
    // border-top: 1px solid #b7b7b7
    border-top: 0
    border-bottom: 1px solid #b7b7b7
    font-weight: 600

.nav.nav-grid
  margin-bottom: 0

.unstyled
  margin: 0
  padding: 0
  border: 0

.print-only
  display: none

// Header tile
.htile
  background-color: #eee
  padding: 8px 12px
  +border-radius(5px)

// Navigation cards
.cardset, .userset
  list-style: none
  // ul and ol have padding-left in BS3, margin-left in BS2
  padding-left: 0

  li
    +box-sizing(border-box)
    // height: 15em
    text-align: left
    position: relative
    margin-bottom: $body-line-height

    .card-badge
      position: absolute
      right: 6px
      top: 2px
      color: #595959
      // width: 1em

    a
      overflow: hidden
      border: 1px solid $color-card-border
      +border-radius(4px)
      +box-sizing(border-box)
      display: block
      +box-shadow(0 1px 2px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1) inset)
      width: 100%
      height: 100%
      padding: 0 12px (($body-line-height / 2) - 2px)
      background: $color-card-bg
      color: inherit
      +transition-property("background")
      +transition-duration(0.2s)

      &:hover, &:focus
        color: inherit
        text-decoration: none
        background: $color-card-bg-hover
        +transition-property("background")
        +transition-duration(0.2s)

    .card-title, .card-body
      text-overflow: ellipsis

    .card-title
      padding: (($body-line-height / 2) - 2px) 0 ($body-line-height / 2) 0
      height: 5.5em

    .card-body
      margin: ($body-line-height / 2) -14px 0
      padding: (($body-line-height / 2) - 1px) 14px 0
      border-top: 1px solid $color-outline-thin
      height: 7em

    &.span3 .card-body
      height: 5em

    .card-body.large-plus
      text-align: center
      font-size: 100px
      line-height: 1

    h2, h3
      margin-top: 0
      margin-bottom: 5px
      max-height: 2.5em
      overflow: hidden
      text-overflow: ellipsis
      line-height: 1.2
    h3
      font-size: 12px
      color: #666
      font-weight: normal

/* Cookies */
.cookies-required-alert, .no-cookies .cookies-required
  display: none

.cookies-required, .no-cookies .cookies-required-alert
  display: block

.no-cookies .cookies-required-alert
  margin-top: 1em

.rwd-line
  +inline-block

.js .jshidden, .js .no-js-only
  display: none
  visibility: hidden

.no-js .no-jshidden, .no-js .js-only
  display: none
  visibility: hidden

.userlogin .no-userlogin-only
  display: none
  visibility: hidden

.no-userlogin .userlogin-only
  display: none
  visibility: hidden


@media screen and (min-width: 768px)
  .form-horizontal .help-required
    position: absolute
    right: -10px

@media only screen and (-webkit-min-device-pixel-ratio: 2)
  #logo
    background-image: image-url('logo@2x.png')
    -webkit-background-size: auto image-height('logo.png')

@media only screen and (max-width: 767px)
  .rwd-line
    display: block
  ul.grid > .row-fluid > [class*="span"]:first-child
    padding-left: 0
  .cardset li, .userset li
    margin-bottom: $body-line-height !important

// FIXME: Make this properly responsive
.map-marker
  margin-top: $body-line-height / 2
  width: 100%
  height: 20em
