/*!
 * HasGeek baseframe CSS, based on Twitter Bootstrap.
 */

// Compass
@import "compass";
@import "compass/layout";

// Local settings
@import "settings-bs3";
@import "layout";
@import "bootstrap3-custom";
@import "infobox";
@import "datepicker";
@import "adunits";
@import "print";
@import "responsive";

// Only import this when in debug mode
// @import "gridlines";

/*
	baseframe customizations
*/
#page-header {
    display: none;
}
header {
    min-height: 50px;
}
@media screen and (min-width: 768px) {
    #page-header{
        display: block;
    }
    header {
        min-height: 0;
    }
    .listwidget.horizlist li {
        display: inline-block;
        margin-right: 1em
    }
}

// Select2 styling
.select2-container.form-control {
    border: 0;
    padding: 0;
    height: auto;
    @include box-shadow(none);
}
.select2-container .select2-choice {
    height: 38px;
    line-height: 36px;
    div b {
        background-position: 0 5px;
    }
}
.select2-dropdown-open .select2-choice div b {
    background-position: -17px 5px;
}

#collapse-icon {
    margin-right: 1em;
    a {
        color: #D5E0E5;
    }
}
ul.hg-header-app-nav {
    h1 {
        text-transform: uppercase;
        font-size: 15px;
    }
    .fa-angle-right {
        padding: 0 0.2em;
    }

}
li.hg-nwbar {
    i {
        color: #667C85;
    }
}

.nwb-profile-wrapper {
    padding: 0.34em 0;
    .nwb-profile-pic {
        border-radius: 50%;
        background-image: url('../img/user-placeholder.jpg');
        background-size: 100%;
        display: block;
        height: 1.6em;
        width: 1.6em;
    }
}

sup.notify {
    background-color: #df5e0e;
    color: white;
    font-size: .65em;
    border-radius: 50%;
    display: block;
    height: 1.4em;
    width: 1.4em;
    line-height: 1.45em;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}
/* sidebar layout */
html, body {
    height: 100%;
    overflow: hidden;
}

.two-pane-app {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    *, *:after, *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; 
    }
}

.two-pane-app .bottom {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; 
    .left {
        border-right: 0.0625em solid #D5E0E5;
        position: absolute;
        height: 100%;
        overflow: auto; 
        background: #F8FAFB;
        -webkit-transition: all 0.5s ease-in-out;
        &.in {
            width: 280px;
        }
        &.out {
            width: 0;
        }
        .logo{
            width: 100%;
            /* border-bottom: 0.0625em solid #D5E0E5;
            background-color: #FFF; */
            img {
                width: 44%;
                margin: 0 auto;
                display: block;
            }
        }
        .sidebar {
            padding-top: 1em;
        }
        .select2-container .select2-choice {
            background-image: none;
            border-color: #D5E0E5;
            padding: 0 0 0 0.9em;
        }
        .select2-container .select2-choice, .form-control {
            border-radius: 1.5em;
        }
        .select2-drop {
            width: 80%;
        }
    }
    .right {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        overflow: auto;
        &.in {
            width: calc(100% - 280px);
            -webkit-transition: all 0.5s ease-in-out;
            #hg-panel.navbar-fixed-top, #hg-panel.navbar-fixed-bottom {
                left: 280px;
                -webkit-transition: all 0.5s ease-in-out;
            }
        }
        &.out {
            width: 100%;
            -webkit-transition: all 0.5s ease-in-out;
            #hg-panel.navbar-fixed-top, #hg-panel.navbar-fixed-bottom {
                left: 0;
                -webkit-transition: all 0.5s ease-in-out;
            }
        }
        & > .wrapper {
            padding-top: 2.25em;
            min-height: 100%;
            position: relative;
            & > .container-fluid {           
                margin: 1.25em;
                padding-bottom: 57px;
            }
        }
        footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 57px;
            .footer-inner {
                height: 57px;
                margin-top: 0;
            }
        }
    }
}
footer .container-fluid {
    text-align: center;
    font-size: 90%;  
    padding-top: 1.5em;
    padding-bottom: 1em;
}

#hg-panel {
    height: 2.25em;
}
