/*!
 * HasGeek baseframe CSS, based on Twitter Bootstrap.
 */

// Compass
@import "compass";
@import "compass/layout";
@import "compass/css3/transition";

// Local settings
@import "settings-bs3";
@import "layout";
@import "bootstrap3-custom";
@import "infobox";
@import "datepicker";
@import "adunits";
@import "print";
@import "responsive";

// Only import this when in debug mode
// @import "gridlines";

$collapse-icon-width: 1.4em;
$collapse-icon-width-expanded: 1.1em;
$collapse-icon-width-shrinked: 0.8em;
$hg-panel-dark-gray: #D5E0E5;
$hamburger-inactive: #A3A3A3;
$hamburger-active: #667C85;

/*
	baseframe customizations
*/
#page-header {
    display: none;
}
header {
    min-height: 50px;
}
@media screen and (min-width: 768px) {
    #page-header{
        display: block;
    }
    header {
        min-height: 0;
    }
    .listwidget.horizlist li {
        display: inline-block;
        margin-right: 1em
    }
}

// Select2 styling
.select2-container.form-control {
    border: 0;
    padding: 0;
    height: auto;
    @include box-shadow(none);
}
.select2-container .select2-choice {
    height: 38px;
    line-height: 36px;
    div b {
        background-position: 0 5px;
    }
}
.select2-dropdown-open .select2-choice div b {
    background-position: -17px 5px;
}

ul.hg-header-app-nav {
    h1 {
        text-transform: uppercase;
        font-size: 15px;
    }
    .fa-angle-right {
        padding: 0 0.2em;
    }

}
li.hg-nwbar {
    i {
        color: #667C85;
    }
}

.nwb-profile-wrapper {
    padding: 0.34em 0;
    .nwb-profile-pic {
        border-radius: 50%;
        background-image: url('../img/user-placeholder.jpg');
        background-size: 100%;
        display: block;
        height: 1.6em;
        width: 1.6em;
    }
}

sup.notify {
    background-color: #df5e0e;
    color: white;
    font-size: .65em;
    border-radius: 50%;
    display: block;
    height: 1.4em;
    width: 1.4em;
    line-height: 1.45em;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}
/* sidebar layout */
html, body {
    height: 100%;
    overflow: hidden;
}

#two-pane-app {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    *, *:after, *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; 
    }
}

#two-pane-app .bottom {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; 
    #left {
        border-right: 0.0625em solid $hg-panel-dark-gray;
        position: absolute;
        top: 2.25em;
        height: 100%;
        overflow: auto; 
        background: #F8FAFB;
        z-index: 2;
        @include single-transition(all, 0.5s, ease-in-out, 0);
        &.in {
            width: 280px;
            left: -280px;
        }
        &.out {
            width: 280px;
            left: 0;
        }
        .logo{
            width: 100%;
            /* border-bottom: 0.0625em solid $hg-panel-dark-gray;
            background-color: #FFF; */
            img {
                width: 44%;
                margin: 0 auto;
                display: block;
            }
        }
        .sidebar {
            padding-top: 2em;
            .form-control {
                padding: 6px 0;
            }
            input {
                background: none;
                border-bottom: 1px solid #A3A3A3;
                box-shadow: none;
                color: #333;
                border-radius: 0;
                
                &:focus,
                &:active {
                    outline: none;
                    box-shadow: none;
                    background: none;
                    border-bottom-color: #df5e0e;
                }

                &[type="text"],
                &[type="email"] {
                    border-width: 0 0 1px 0;
                }

                &[type="submit"] {
                    &:active {
                        color: #fff;
                        background: rgb(17, 144, 190);
                    }
                }
            }
            .form-group {
                position: relative;
                
                label {
                    position: absolute;
                    top: 0.5rem;
                    left: 0rem;
                    pointer-events: none;
                    color: #999;
                    font-family: "Source Sans Pro","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Arial,sans-serif;
                    -webkit-transition: all 0.15s ease-out 0s;
                    transition: all 0.15s ease-out 0s;
                    font-weight: 400;
                }

                input:focus + label,
                input.has-content + label {
                    top: -0.5rem;
                    font-size: 10px;
                    color: #A3A3A3;
                }
            }
        }
        & > .container-fluid {
            padding-left: 0;
            padding-right: 0;
        }
        /*input[type="text"].form-control {
            border: 0;
            box-shadow: none;
            background-color: transparent;
            border-bottom: 1px solid #999;
            border-radius: 0;
            &:focus {
                border-bottom: 1px solid #df5e0e;
            }
        } 
        */

    }
    #right {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        overflow: auto;
        z-index: 1;
        &.in {
            width: 100%;
            @include single-transition(all, 0.5s, ease-in-out, 0);
            #hg-panel.navbar-fixed-top, #hg-panel.navbar-fixed-bottom {
                left: 0;
                @include single-transition(all, 0.5s, ease-in-out, 0);
            }
            #collapse-icon {
                width: $collapse-icon-width;
                @include single-transition(all, 0.5s, ease-in-out, 0);
                .bar {
                    width: $collapse-icon-width-expanded;
                    @include single-transition(all, 0.5s, ease-in-out, 0);
                }
            }
            #hamburger-icon {
                color: $hamburger-active;
                &:hover {
                    color: $hamburger-inactive;
                }
            }
        }
        &.out {
            width: 100%;
            @include single-transition(all, 0.5s, ease-in-out, 0);
            #hg-panel.navbar-fixed-top, #hg-panel.navbar-fixed-bottom {
                left: 0;
                @include single-transition(all, 0.5s, ease-in-out, 0);
            }
            #collapse-icon {
                width: $collapse-icon-width;
                @include single-transition(all, 0.5s, ease-in-out, 0);
                .bar {
                    width: $collapse-icon-width-shrinked;
                    @include single-transition(all, 0.5s, ease-in-out, 0);
                }
            }
            #hamburger-icon {
                color: $hamburger-inactive;
            }
        }

        ul.hg-header-app-nav {
            margin-left: 0;
        }

        & > .wrapper {
            padding-top: 2.25em;
            min-height: 100%;
            position: relative;
            & > .container-fluid {           
                margin: 1.25em;
                padding-bottom: 57px;
                padding-left: 0;
                padding-right: 0;
            }
        }
        footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 57px;
            .footer-inner {
                height: 57px;
                margin-top: 0;
            }
        }
    }
}
footer .container-fluid {
    text-align: center;
    font-size: 90%;  
    padding-top: 1.5em;
    padding-bottom: 1em;
}

#hg-panel {
    height: 2.25em;
    min-height: 0;
    margin-bottom: 0;
    background: #fff;
    & > .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    #hamburger-icon {
        margin: 0;
        width: 3em;
        i {
            color: #A3A3A3;
            cursor: pointer;
            margin-right: 0.8em;
            text-align: right;
            width: 0.9em;
            padding: 0.6em 0;
            margin: 0 0.8em 0 1.3em;
        }
    }
    #nav-title {
        width: calc(100% - 3em);
    }
    .page-header {
        margin-bottom: 0;
        h1 {
            margin-bottom: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
    .nav {
        margin-bottom: 0;
        & > li {
            line-height: 36px;
            & > a {
                padding: 0 15px;
            }
        }
        &.pull-right {
            width: 9.3em;
        }
        &.pull-left {
            width: calc(100% - 9.3em);
        }
    }
    .dropdown-menu {
        margin: 0;
        z-index: 3;
    }
}


.hg-site-nav > li > a {
    padding-top: 9px;
    padding-right: 0px;
}

@media (max-width: 768px) {
    .hg-site-nav {
        width: 100%;
    }
}

.block-dropdown {
    width: 185px;
    padding: 22px 0px 0px 20px;
    height: auto;
    overflow-y: auto;
    margin: 0;
    & > li {
        float: left;
        height: auto;
        list-style-type: none;
        display: inline-block;
        margin-right: 30px;
        margin-bottom: 10px;
        width: 3em;
        & > a{
            font-size: 12px;
            text-align: center;
            white-space: normal;
            padding: 0;
            &:hover{
                background-color: transparent;
                /*border: 1px solid #f2f2f2;*/
            }
            &>img{
                max-width: 50px;
                height: 30px;
            }
        }
    }
}

a#hg-notify-btn, a#hg-notify-btn, a#hg-app-drawer {
  color: #667C85;
}

a#hg-login-btn {
    margin-top: 6px;
    padding: 4px 10px;
    margin-right: 4px;
    margin-left: 12px;
    &:hover {
        background-color: #285E8E;
    }
}

ul.hg-header-app-nav {
    margin-left: 6px;
    margin-bottom: 0;
    &> li {
        padding-left: 0;
        padding-right: 0;
        margin-right: 4px;
    }
}
@media (min-width: 768px) {
    ul.hg-header-app-nav {
        margin-left: 0;
    }

    ul.hg-header-app-nav > li {
        margin-right: -10px;
    }
}

li.site-nav-collapse {
    margin: 0 0 0 8px;
}

#collapse-icon {
    float: left;
    cursor: pointer;
    margin-right: 0;

    a {
        margin-top: 0.5em;
        display: block;
    }
    .bar {
        height: 0.2em;
        background-color: $hg-panel-dark-gray;
        margin: 0.1em 0;
        float: left;
    }

    &:hover .bar {
        background-color: #C5CFD3;
        
    }
}
@media screen and (min-width: 768px) {
    #hamburger-icon {
        margin-left: 0;
    }
    #two-pane-app .bottom {
        #left {
            top: 0;
            &.in {
                width: 280px;
                left: 0;
            }
            &.out {
                width: 0;
                left: 0;
            }
        }
        #right {
            &.in {
                width: calc(100% - 280px);
                @include single-transition(all, 0.5s, ease-in-out, 0);
                #hg-panel.navbar-fixed-top, #hg-panel.navbar-fixed-bottom {
                    left: 280px;
                    @include single-transition(all, 0.5s, ease-in-out, 0);
                }
                #collapse-icon {
                    width: $collapse-icon-width;
                    @include single-transition(all, 0.5s, ease-in-out, 0);
                    .bar {
                        width: $collapse-icon-width-shrinked;
                        @include single-transition(all, 0.5s, ease-in-out, 0);
                    }
                }
                #hamburger-icon {
                    color: $hamburger-inactive;
                    &:hover {
                        color: $hamburger-active;
                    }
                }
            }
            &.out {
                width: 100%;
                @include single-transition(all, 0.5s, ease-in-out, 0);
                #hg-panel.navbar-fixed-top, #hg-panel.navbar-fixed-bottom {
                    left: 0;
                    @include single-transition(all, 0.5s, ease-in-out, 0);
                }
                #collapse-icon {
                    width: $collapse-icon-width;
                    @include single-transition(all, 0.5s, ease-in-out, 0);
                    .bar {
                        width: $collapse-icon-width-expanded;
                        @include single-transition(all, 0.5s, ease-in-out, 0);
                    }
                }
                #hamburger-icon {
                    color: $hamburger-active;
                    &:hover {
                        color: $hamburger-inactive;
                    }
                }
            }

            ul.hg-header-app-nav {
                margin-left: 6px;
            }
        }
    }
}
