/* CodeMirror customizations */
@import "compass";
@import "settings-bs3";

.CodeMirror {
    font-family: $monospace-font-family;
    border: 1px solid #CCC;
    border-radius: 4px;
    @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.075) inset);
    font-size: 14px; // $body-font-size;
    line-height: 22px; // $body-line-height;
    padding: 3px 3px;
    color: #333;
    @include transition(border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s);
}

.CodeMirror-focused {
    border-color: #66afe9;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6));
    @include transition(border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s);
}

.cm-s-default .cm-header {color: #df5e0e;}
.cm-header, .cm-strong {font-weight: bold;}
