@import "settings";
@import url("//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");

body {
    font-family: $body-font-family;
    font-size: $body-font-size;
    line-height: $body-line-height;
    color: #333;
    margin: 11px 8px 8px;
}

p {
  margin: 0 0 $body-line-height / 2;
}

ul, ol {
  padding: 0;
  margin: 0 0 ($body-line-height / 2) 25px;
}

h1 {
    font-size: 30px;
    line-height: $body-line-height * 2;
    margin-top: 0;
    margin-bottom: $body-line-height;
}

h2 {
    font-size: 25px;
    line-height: $body-line-height * 2;
    margin-top: $body-line-height;
    margin-bottom: 0;
}

h3 {
    font-size: 19px;
    line-height: $body-line-height;
    margin-top: $body-line-height;
    margin-bottom: 0;
}
