@font-face {
  font-family: 'Lato';
  src: font-url('lato-regular.eot');
  src: local('Lato Regular'), local('Lato-Regular'),
       font-url('lato-regular.eot?#iefix') format('embedded-opentype'),
       font-url('lato-regular.woff') format('woff'),
       font-url('lato-regular.ttf') format('truetype'),
       font-url('lato-regular.svg#Lato-Regular') format('ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Lato';
  src: font-url('lato-italic.eot');
  src: local('Lato Italic'), local('Lato-Italic'),
       font-url('lato-italic.eot?#iefix') format('embedded-opentype'),
       font-url('lato-italic.woff') format('woff'),
       font-url('lato-italic.ttf') format('truetype'),
       font-url('lato-italic.svg#Lato-Italic') format('svg');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Lato';
  src: font-url('lato-bold-italic.eot');
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
       font-url('lato-bold-italic.eot?#iefix') format('embedded-opentype'),
       font-url('lato-bold-italic.woff') format('woff'),
       font-url('lato-bold-italic.ttf') format('truetype'),
       font-url('lato-bold-italic.svg#Lato-BoldItalic') format('svg');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'Lato';
  src: font-url('lato-bold.eot');
  src: local('Lato Bold'), local('Lato-Bold'),
       font-url('lato-bold.eot?#iefix') format('embedded-opentype'),
       font-url('lato-bold.woff') format('woff'),
       font-url('lato-bold.ttf') format('truetype'),
       font-url('lato-bold.svg#Lato-Bold') format('svg');
  font-style: normal;
  font-weight: 700;
}
