@import "compass";
@import "compass/css3/images";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";

.hg-h { color: #df5e0e; }
.hg-g { color: #816894; }
.hg-s { color: #f0a40c; }

$color-hg-bar: #444;
$color-hg-bar-nolink: #888;
$color-hg-bar-border: #d5d5d5; //#df5e0e;
//$color-hg-bar-background: rgba(223, 94, 14, 1);
//$color-hg-bar-background: rgba(129, 104, 148, 0.5);
//$color-hg-bar-background: rgba(0, 0, 0, 0.5);
//$color-hg-bar-background: rgba(80, 80, 200, 0.1);
$experimental-support-for-svg: true;
$color-hg-bar-background: #e8e8e8; //#eeeefa;
$color-hg-bar-highlight: #000;
$color-hg-bar-highlight-background: rgba(0, 0, 0, 0.1);
$color-hg-bar-selected: #000;
$networkbar-font-size: 13px;
$networkbar-line-height: 18px;
$networkbar-font: #{$networkbar-font-size}/#{$networkbar-line-height} "Open Sans", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Arial, sans-serif !default;

#hg-bar {
    @include pie-clearfix;
    display: block;
    background: $color-hg-bar-background;
    
    @include background-image(linear-gradient(#f9f9f9, #e8e8e8));
    //@include background-image(linear-gradient(#f5f5f5, #e0e0e0));
    font: $networkbar-font;
    color: $color-hg-bar;
    border-bottom: 1px solid $color-hg-bar-border;
    @include box-shadow(0 2px 5px -2px rgba(0,0,0,.1));
    position: relative;
    z-index: 1029;
    .strong {
        font-weight: 600;
    }
    li {
        font: $networkbar-font;
        font-size: $networkbar-font-size;
        line-height: 18px;
    }
    ul#hg-usertools {
        float: right;
        .profile {
            font-weight: 600; // bold;
        }
    }
    ul#hg-barlinks {
        float: left;
    }
    ul#hg-barlinks, ul#hg-usertools {
        @include pie-clearfix;
        margin: 0 -6px;
        padding: 0;
        position: relative;
        list-style: none;
        //font-size: 90%;
        & > li {
            float: left;
            position: relative;
            margin: 0;
            padding: 0;
            a, a:hover, a:active, a:visited {
                border-bottom: 0;
            }
            a {
                display: block;
                padding: 5px 6px;
                text-decoration: none;
                background-color: inherit;
                color: $color-hg-bar;
                border-top: 2px solid transparent;
            }
            a:visited {
                text-decoration: none;
                background-color: inherit;
                color: $color-hg-bar;
            }
            a.hg-submenu:after {
                display: inline-block;
                width: 0;
                height: 0;
                margin-top: 8px;
                margin-left: 5px;
                text-indent: -99999px;
                *text-indent: 0;
                vertical-align: top;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 4px solid #000000;
                opacity: 0.3;
                content: "";
                filter: alpha(opacity=30);
                // content: "▾";
            }
            ul {
                position: absolute;
                margin: 0;
                padding: 0;
                font-size: 100%;
                background: $color-hg-bar-background;
                color: $color-hg-bar;
                list-style: none;
                z-index: 1030;
                //left: -9999px; // Now using height: 0;
                left: -1px; // -1px to account for 1px border
                overflow: hidden;
                @include border-bottom-left-radius(6px);
                @include border-bottom-right-radius(6px);
                border: 1px solid $color-hg-bar-border;
                border-top: 0;
                border-bottom: 0;
                max-height: 0;
                visibility: hidden;
                @include transition-property("max-height, visibility");
                @include transition-duration(0.1s);
                @include transition-timing-function(ease-out);
                @include transition-delay(0.25s);
                li {
                    float: none;
                    position: relative;
                    white-space: nowrap;
                    padding: 0;
                    margin: 0;
                }
                li:last-child {
                    @include border-bottom-left-radius(4px);
                    @include border-bottom-right-radius(4px);
                }
                li:hover > a {
                    text-decoration: none;
                    background: $color-hg-bar-highlight-background;
                    color: $color-hg-bar-highlight;
                }
                li:last-child > a {
                    @include border-bottom-left-radius(4px);
                    @include border-bottom-right-radius(4px);
                }
                li.hg-menu-section {
                    padding: 9px 7px 2px;
                    border-top: 1px solid $color-hg-bar-border;
                    text-transform: uppercase;
                    font-size: 85%;
                    color: $color-hg-bar-nolink;
                }
            }
        }
        & > li:hover > a,
        & > li > a:focus {
            text-decoration: none;
            //background: $color-hg-bar-highlight-background;
            background: #e8e8e8;
            border-top: 2px solid #e8e8e8;
            //$experimental-support-for-svg: true;
            @include background-image(linear-gradient(#e8e8e8, #d1d1d1));
            color: $color-hg-bar-highlight;
            &:after {
                opacity: 1;
                filter: alpha(opacity=100);
            }
        }

        & > li:hover > ul {
            left: -1px; // -1px to account for 1px border
            border: 1px solid $color-hg-bar-border;
            border-top: 0;
            max-height: 40em;
            visibility: visible;
            @include box-shadow(-3px 2px 5px -3px rgba(0,0,0,.1), 3px 2px 5px -3px rgba(0,0,0,.1));
            @include transition-property("max-height, visibility");
            @include transition-duration(0.1s);
            @include transition-timing-function(ease-out);
            @include transition-delay(0.25s);
        }
        & > li.selected > a {
            border-top: 2px solid #df5e0e;
            color: $color-hg-bar-selected;
            font-weight: 600; // bold;
        }
    }
}

#hg-bar.hg-dark {
    background: rgba(0, 0, 0, 0.2);
    color: #888;
    border-bottom: 1px solid #444;
    @include transition-property("background");
    @include transition-duration(1s);
    @include transition-timing-function(ease-out);

    &:hover {
        background: #222;
        @include transition-property("background");
        @include transition-duration(1s);
        @include transition-timing-function(ease-out);
    }

    ul#hg-barlinks > li a,
    ul#hg-usertools > li a,
    ul#hg-barlinks > li a:visited,
    ul#hg-usertools > li a:visited {
        color: #888;
    }
    ul#hg-barlinks > li a.hg-submenu:after,
    ul#hg-usertools > li a.hg-submenu:after {
        border-top: 4px solid #ffffff;
    }
    ul#hg-barlinks > li ul,
    ul#hg-usertools > li ul {
        background: #222;
        color: #888;
        border: 1px solid #444;
        border-top: 0;
        border-bottom: 0;
        li.hg-menu-section {
            border-top: 1px solid #444;
        }
    }
    ul#hg-barlinks > li.selected > a,
    ul#hg-usertools > li.selected > a {
        color: #888;
    }
    ul#hg-barlinks > li:hover > a,
    ul#hg-barlinks > li > a:focus,
    ul#hg-usertools > li:hover > a,
    ul#hg-usertools > li > a:focus {
        background: #444;
        border-top: 2px solid #444;
        color: white;
    }
    ul#hg-barlinks > li.selected:hover > a,
    ul#hg-barlinks > li.selected > a:focus,
    ul#hg-usertools > li.selected:hover > a,
    ul#hg-usertools > li.selected > a:focus {
        border-top: 2px solid #df5e0e;
    }
    ul#hg-barlinks > li ul li:hover > a,
    ul#hg-usertools > li ul li:hover > a {
        text-decoration: none;
        background: #444;
        color: white;
    }
    ul#hg-barlinks > li:hover > ul,
    ul#hg-barlinks > li a:focus > ul,
    ul#hg-usertools > li:hover > ul,
    ul#hg-usertools > li a:focus > ul {
        border: 1px solid #444;
        border-top: 0;
    }
}

@media screen and (max-width: 767px) {
    #hg-bar {
        ul#hg-barlinks, ul#hg-usertools {
            & > li {
                a {
                    padding: 7px 6px 3px;
                    border-top: 0;
                    border-bottom: 2px solid transparent;
                }
            }
            & > li:hover > a,
            & > li > a:focus {
                border-top: 0;
                border-bottom: 2px solid #d1d1d1;
            }
            & > li.selected > a {
                border-top: 0;
                border-bottom: 2px solid #df5e0e;
            }
        }
    }
    #hg-bar.hg-dark {
        ul#hg-barlinks > li:hover > a,
        ul#hg-barlinks > li > a:focus,
        ul#hg-usertools > li:hover > a,
        ul#hg-usertools > li > a:focus {
            border-top: 0;
            border-bottom: 2px solid #444;
        }
        ul#hg-barlinks > li.selected:hover > a,
        ul#hg-barlinks > li.selected > a:focus,
        ul#hg-usertools > li.selected:hover > a,
        ul#hg-usertools > li.selected > a:focus {
            border-top: 0;
            border-bottom: 2px solid #df5e0e;
        }
    }
}

$mob-icon-color: #999;

#hg-networkbar.navbar{
    min-height: 50px;
    background-color: #F3F3F3;
    .navbar-header{
        background-image: linear-gradient(#FFFFFF,#F5F5F5);
        height: 48px;
    }    
    .navbar-toggle{
        margin-bottom: 0;
        margin-top: 4px;
        margin-left: 5px;
        i{
            color: #333333;
        }
    }
    .navbar-brand{
        padding: 0;
        display: block;
        @include replace-text-with-dimensions('logo@2x.png');
        height: 48px;
        background-position: left center;
        background-size: auto 100%;
        background-repeat: none;
        text-indent: -1000px;
    }
    .navbar-collapse{
        border-top: 2px solid #E6E6E6;
        max-height: 390px;
    }
    .navbar-nav{
        padding-top: 0;
        padding-bottom: 0;
        li{
            border-bottom: 1px solid #EAEAEB;
            &:last-child{
                border-bottom: none;
            }
            &.selected{
                border-left: 5px solid #EB5B1F;
            }
            ul li.hg-menu-section, ul li.hg-menu-section {
                padding: 9px 7px 2px;
                border-top: 1px solid rgb(213, 213, 213);
                text-transform: uppercase;
                font-size: 85%;
                color: rgb(136, 136, 136);
            }
        }
    }
}
#page-header{
    height: 0;
    visibility: hidden;
}
@media screen and (min-width: 768px){
    #hg-networkbar.navbar{
        border-top: none;
        margin-left: -6px;
        background: $color-hg-bar-background;
        @include background-image(linear-gradient(#f9f9f9, #e8e8e8));
        font: $networkbar-font;
        font-size: $networkbar-font-size;
        color: $color-hg-bar;
        border-bottom: 1px solid $color-hg-bar-border;
        @include box-shadow(0 2px 5px -2px rgba(0,0,0,.1));
        min-height: 28px;
        .dropdown-menu{
            font-size: inherit;
            padding: 0;
            display: block;
            max-height: 0;
            visibility: hidden;
            @include transition-property("max-height, visibility");
            @include transition-duration(0.1s);
            @include transition-timing-function(ease-out);
            @include transition-delay(0.25s);
            @include box-shadow(-3px 2px 5px -3px rgba(0,0,0,.1), 3px 2px 5px -3px rgba(0,0,0,.1));
            li{
                margin: 0;
                padding: 0;
                a{
                    padding: 5px 6px;
                }
                &:hover a{
                    background-color: rgba(0,0,0,0.1);
                    color: black;
                }
            }
        }
        .navbar-nav{
            & > li {
                font: $networkbar-font;
                line-height: 18px;
                border-bottom: none;
                & > a{
                    padding: 5px 6px;
                    color: #444444;
                    border-top: 2px solid transparent;
                    line-height: 18px;
                }            
                & > .dropdown-menu{
                    background: $color-hg-bar-background;
                    color: $color-hg-bar;
                    border-top: 0;
                }
                &.selected{
                    border-left: none;
                    & > a {
                        border-top: 2px solid #df5e0e;
                        color: $color-hg-bar-selected;
                        font-weight: 600; // bold;
                    }
                }
                &:hover > a, & > a:focus {                    
                    background: #e8e8e8;
                    border-top: 2px solid #e8e8e8;
                    @include background-image(linear-gradient(#e8e8e8, #d1d1d1));
                    color: $color-hg-bar-highlight;
                }
                &:hover .dropdown-menu {
                    //left: -1px; // -1px to account for 1px border
                    border: 1px solid $color-hg-bar-border;
                    border-top: 0;
                    max-height: 40em;
                    visibility: visible;
                    @include box-shadow(-3px 2px 5px -3px rgba(0,0,0,.1), 3px 2px 5px -3px rgba(0,0,0,.1));
                    @include transition-property("max-height, visibility");
                    @include transition-duration(0.1s);
                    @include transition-timing-function(ease-out);
                    @include transition-delay(0.25s);
                }
            }
            li{
                border-bottom: none;
            }
            .strong {
                font-weight: 600;
            }
        }
        .navbar-brand{
            display: none;
        }
        .navbar-header{
            height: 0;
            background-image: none;
        }
        .navbar-collapse{
            border-top: none;
        }
        .navbar-ex1-collapse{
            display: inline-block;
            float: left;
        }
        .navbar-ex2-collapse{
            display: inline-block;
            float: right;
        }
    }
}

