{% macro flash_messages() -%}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{category}} fade in">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{%- endmacro %}

{% macro networkbar(siteid=none, login=false, baseclass=none, containerclass="container") -%}
  <div id="hg-bar" class="no-print {%- if baseclass %} {{ baseclass }}{% endif %}">
    <div class="{{ containerclass }}">
      <ul id="hg-barlinks">
        <li data-siteid="home" class="strong {%- if siteid == 'home' %} selected{% endif %}"><a href="http://hasgeek.com/">HasGeek</a></li>
        <li data-siteid="blog" {%- if siteid == 'blog' %} class="selected"{% endif %}><a href="http://blog.hasgeek.com/">Blog</a></li>
        <li data-siteid="jobs" {%- if siteid == 'jobs' %} class="selected"{% endif %}><a href="http://jobs.hasgeek.com/">Jobs</a></li>
        <li data-siteid="hgtv" {%- if siteid == 'hgtv' %} class="selected"{% endif %}><a href="http://hasgeek.tv/">TV</a></li>
        <li data-siteid="funnel" {%- if siteid == 'funnel' %} class="selected"{% endif %}><a href="http://funnel.hasgeek.com/">Funnel</a></li>
        <li data-siteid="geekup" {%- if siteid == 'geekup' %} class="selected"{% endif %}><a href="http://geekup.in/">Geekup</a></li>
        <li data-siteid="hacknight" {%- if siteid == 'hacknight' %} class="selected"{% endif %}><a href="http://hacknight.in/">Hacknight</a></li>
        <li data-siteid="events" {%- if siteid == 'events' %} class="selected"{% endif %}>
          <a href="#" class="hg-submenu">Events</a>
          <ul>
            <li><a href="http://fifthelephant.in/">The Fifth Elephant</a></li>
            <li class="hg-menu-section">Past events</li>
            <li><a href="http://metarefresh.in/">Meta Refresh</a></li>
            <li><a href="http://jsfoo.in/">JSFoo</a></li>
            <li><a href="http://droidcon.in/">Droidcon India</a></li>
            <li><a href="http://cartonama.com/2012">Cartonama Conference</a></li>
            <li><a href="http://rootconf.in/">Rootconf</a></li>
            <li><a href="http://phpcloud.hasgeek.com/">Scaling PHP in the Cloud</a></li>
            <li><a href="http://androidcamp.hasgeek.com/">AndroidCamp</a></li>
            <li><a href="http://www.doctypehtml5.in/">DocType HTML5</a></li>
          </ul>
        </li>
        <li data-siteid="workshops" {%- if siteid == 'workshops' %} class="selected"{% endif %}>
          <a href="#" class="hg-submenu">Workshops</a>
          <ul>
            <li><a href="http://advancedpython.hasgeek.com/">Advanced Python</a></li>
            <li class="hg-menu-section">Past workshops</li>
            <li><a href="http://gitworkshop.hasgeek.com/">Git Workshop</a></li>
            <li><a href="http://pigworkshop.fifthelephant.in/">Pig Workshop</a></li>
            <li><a href="http://cssworkshop.metarefresh.in/">CSS for the Soul</a></li>
            <li><a href="http://workshop.cartonama.com/">Cartonama Workshop</a></li>
          </ul>
        </li>
      </ul>
      {%- if login %}
        <ul id="hg-usertools">
          {% if g.user -%}
            <li class="profile">
              {%- with orgs = g.user.organization_links() %}{% if orgs %}
                <a href="#" class="hg-submenu">{{ g.user.fullname }}</a>
                <ul>
                  <li><a href="{{ g.user.profile_url }}">My profile</a></li>
                  {%- for org in orgs %}
                    <li><a href="{{ org.link }}">{{ org.title }}</a></li>
                  {%- endfor %}
                </ul>
              {%- else %}
                <a href="{{ g.user.profile_url }}">{{ g.user.fullname }}</a>
              {% endif %}{%- endwith %}
            </li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {%- else %}
            <li><a href="{{ url_for('login') }}">Login or sign up</a></li>
          {%- endif %}      
        </ul>
      {%- endif %}
    </div>
  </div>
{%- endmacro %}
