<!-- change rendererrors.mustache also while changing here -->
{% macro rendererrors(field) -%}
    {%- if field.errors -%}
      {%- for error in field.errors %}
        <p class="help-error"><span>{{ error }}</span></p>
      {%- endfor %}
    {%- endif %}
{%- endmacro %}

<!-- change renderfield.mustache also while changing here -->
{% macro renderfield(field, css_class="", widget_css_class=None, sidetext=None, tabindex='', autofocus=False) -%}
  <div class="form-group control-group{% if field.errors %} error{% endif %} {{css_class}} {%- if field.widget.html_tag in ['ul', 'ol'] %} listwidget {%- endif %}" id="field-{{ field.id }}">
    {%- if field.widget.input_type == 'checkbox' %}
      <div class="col-xs-12 col-sm-9 col-md-8 col-sm-offset-3 col-md-offset-2">
        <div class="controls inline ">{{ field | render_field_options(class=widget_css_class, tabindex=tabindex) }} {{ field.label.text }}
    {%- else %}
      <div class="col-sm-3 col-md-2">
        <label class="control-label " for="{{ field.id }}">{% if field.flags.required -%}<span class="help-required" title="Required">*</span>{%- endif %}{{ field.label.text }}</label>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-8">
        <div class="controls">
          {{ field | render_field_options(class=widget_css_class,  tabindex=tabindex, autofocus=autofocus)}}
    {%- endif %}
          {% if sidetext %}
            <span class="help-inline">{{sidetext}}</span>
          {% endif %}
          {{ rendererrors(field) }}
          {% if field.description %}
            <p class="help-block">{{field.description}}</p>
          {% endif %}
        </div>
      </div>     
  </div>
{%- endmacro %}

{% macro rendersubmit(buttons=[], css_class="", tabindex='', cancel_url='') -%}
<div class="form-actions clearfix{% if css_class %} {{ css_class}}{% endif %}"><span class="col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-8">
  {% for name, value, widget_class in buttons -%}
    <button type="submit"
      {%- if name %} name="{{ name|e }}"{% else %} {% endif -%}
      {% if widget_class %} class="btn {{ widget_class|e }}" {% else %} class="btn"{% endif -%}
      {%- if tabindex %} tabindex="{{ tabindex }}" {% endif -%}
      >{{ value|e }}</button>
  {% endfor %}
  {% if cancel_url %}<a href="{{ cancel_url }}" class="btn btn-default">Cancel</a>{% endif %}
  <span class="loading hidden">&nbsp;</span>
</span></div>
{%- endmacro %}

{% macro renderform_inner(form, formid) -%}
  {%- if form.errors %}
    <div class="alert alert-error alert-danger">
      <a class="close" data-dismiss="alert">×</a>
      Please correct the indicated errors.
    </div>
  {%- endif %}
  {% if message %}<p>{{ message }}</p>{% endif %}
  <div style="display:none;"><input type="hidden" name="form.id" value="{{ formid }}" /></div>
  {{ form.hidden_tag() }}
  {%- if form.csrf_token.errors %}
    {% for error in form.csrf_token.errors %}<div class="alert alert-error alert-danger">{{ error }}</div>{% endfor %}
  {% endif %}
  {%- set autofocus = true %}
  {% for field in form -%}
    {%- if field.type in ['CSRFTokenField', 'HiddenField'] -%}
      {# Don't show hidden #}
    {%- else -%}
      {% if field.type in ['TextField', 'DateField', 'EmailField', 'URLField', 'TextAreaField'] %}
        {{ renderfield(field, widget_css_class="form-control field-" + field.id, autofocus=autofocus) }}
      {% else %}
        {{ renderfield(field, widget_css_class="field-" + field.id, autofocus=autofocus) }}
      {% endif %}
      {%- if autofocus %}{% set autofocus = false %}{% endif %}
    {%- endif %}
  {% endfor %}
{%- endmacro %}

{% macro renderform(form, formid, submit, message='', action='', cancel_url='', multipart=False) %}
<form id="{{ formid }}" method="POST" {%- if action %} action="{{ action }}" {%- endif %}{%- if multipart %} enctype="multipart/form-data" {%- endif %} accept-charset="UTF-8" class="form-horizontal">
  {{ renderform_inner(form, formid) }}
  {{ rendersubmit([(None, submit or _("Submit"), 'btn-primary')], cancel_url=cancel_url) }}
</form>
{% endmacro %}

{% macro ajaxform(formid, request, force=False) -%}
{% if force or request.is_xhr -%}
<script type="text/javascript">
  $(function() {
    $("#{{ formid }}").ajaxForm({
      target: '#{{ formid }}',
      replaceTarget: true,
    });
    $('#{{ formid }} input[type="submit"]').click(function() {
      $('#{{ formid }}').find(".loading").removeClass('hidden');
    });
    $('#{{ formid }} button[type="submit"]').click(function() {
      $('#{{ formid }}').find(".loading").removeClass('hidden');
    });
  });
</script>
{%- endif %}
{%- endmacro %}

{% macro richtext_editor(field) -%}
  <script type="text/javascript">
    $(function() {
      $('textarea#{{ field.id }}').removeClass('richtext').tinymce({
        // Location of TinyMCE script
        script_url: '{{ url_for("baseframe.static", filename="js/tiny_mce/tiny_mce.js") }}',

        {%- for k, v in field.tinymce_options_json() %}
          {{ k }}: {{ v }},
        {%- endfor %}
        // Content CSS
        content_css: "{{ field.content_css or url_for('baseframe.editorcss') }}",
        // Focus/blur indicators
        setup: function(ed) {
          ed.onInit.add(function(ed) {
            var container = $('#'+ed.id+'_tbl');
            tinymce.dom.Event.add(ed.getWin(), "blur", function() {
              container.removeClass('focus');
            });
            tinymce.dom.Event.add(ed.getWin(), "focus", function() {
              container.addClass('focus');
            });
          });
        } // No comma or semicolon here
      });
    });
  </script>
{% endmacro %}
