<div id="hg-bar" class="no-print">
  <div class="container">
    <ul id="hg-barlinks">
      <li {%- if config['SITE_ID'] == 'home' %} class="selected"{% endif %}><a href="http://hasgeek.com/"><strong><span class="hg-h">Has</span><span class="hg-g">Geek</span></strong></a></li>
      <li {%- if config['SITE_ID'] == 'blog' %} class="selected"{% endif %}><a href="http://blog.hasgeek.com/">Blog</a></li>
      <li {%- if config['SITE_ID'] == 'wiki' %} class="selected"{% endif %}><a href="http://wiki.hasgeek.in/">Wiki</a></li>
      <li {%- if config['SITE_ID'] == 'jobs' %} class="selected"{% endif %}><a href="http://jobs.hasgeek.com/">Jobs</a></li>
      <li {%- if config['SITE_ID'] == 'hgtv' %} class="selected"{% endif %}><a href="http://hasgeek.tv/">TV</a></li>
      <li {%- if config['SITE_ID'] == 'funnel' %} class="selected"{% endif %}><a href="http://funnel.hasgeek.com/">Funnel</a></li>
      <li {%- if config['SITE_ID'] == 'geekup' %} class="selected"{% endif %}><a href="http://geekup.in/">GeekUp</a></li>
      <li {%- if config['SITE_ID'] == 'events' %} class="selected"{% endif %}>
        <a href="#" class="hg-submenu">Events</a>
        <ul>
          <li><a href="http://workshop.cartonama.com/">Cartonama Workshop</a></li>
          <li><a href="http://metarefresh.in/">Meta Refresh</a></li>
          <li><a href="http://rootconf.com/">Rootconf</a></li>
          <li><a href="#">Inbox Alert</a></li>
          <li><a href="#">The Fifth Elephant</a></li>
          <li><a href="#">Mobile Web</a></li>
          <li><a href="http://cartonama.com/">Cartonama Conference</a></li>
          <li><a href="#">PayStation</a></li>
          <li><a href="http://jsfoo.in/">JSFoo</a></li>
          <li><a href="http://droidcon.in/">Droidcon 2012</a></li>
          <li class="hg-menu-section">Past events</li>
          <li><a href="http://droidcon.in/">Droidcon 2011</a></li>
          <li><a href="http://phpcloud.hasgeek.com/">Scaling PHP in the Cloud</a></li>
          <li><a href="http://androidcamp.hasgeek.com/">AndroidCamp</a></li>
          <li><a href="http://www.doctypehtml5.in/">DocType HTML5</a></li>
        </ul>
      </li>
    </ul>
    <ul id="hg-usertools">
      {% if g.user -%}
        <li class="profile"><a href="">{{ g.user.fullname }}</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      {%- else %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
      {%- endif %}      
    </ul>
  </div>
</div>
