@font-face {
  font-family: 'Fira Sans';
  src: url('eot/FiraSans-Bold.eot');
  src: local('Fira Sans Bold'),
    url('eot/FiraSans-Bold.eot') format('embedded-opentype'),
    url('woff2/FiraSans-Bold.woff2') format('woff2'),
    url('woff/FiraSans-Bold.woff') format('woff'),
    url('ttf/FiraSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
