{% extends "layout.html.jinja2" %}
{% block title %}{% trans %}Unprocessable Entity{% endtrans %}{% endblock %}

{% block content %}
<p>{% trans %}This request was malformed and could not be processed{% endtrans %}</p>
{% endblock %}
