<div>
{% from "baseframe/mui/forms.html.jinja2" import renderform, ajaxform, widget_ext_scripts, widgetscripts %}
{{ renderform(form=form, formid=formid, dom_id=dom_id, submit=submit, message=message, cancel_url=cancel_url, multipart=multipart) }}
{{ ajaxform(dom_id=dom_id, request=request, force=true) }}

{{ widget_ext_scripts(form) }}

<script type="text/javascript">
  activate_widgets();
  {{ widgetscripts(form, script=false) }}
</script>
</div>
