{% extends "formlayout.html.jinja2" %}
{% from "baseframe/mui/forms.html.jinja2" import renderform, ajaxform, widget_ext_scripts, widgetscripts %}

{% block content %}
  {%- if message %}
    <p>{{ message }}</p>
  {%- endif %}
  {{ renderform(form=form, formid=formid, submit=submit, message=message, cancel_url=cancel_url, multipart=multipart) }}
{% endblock %}

{% block footerscripts %}
  {{ widget_ext_scripts(form) }}
  <script type="text/javascript">
    $(function() {
      {{ widgetscripts(form, script=false) }}
      // Reset disabled state if page was reloaded (TODO: does this really get called?)
      $('#{{ formid }} .submit-disabled').prop('disabled', false);
    });
  </script>
  {{ ajaxform(formid=formid, request=request, force=ajax) }}
  <script src="{{ 'parsley.js'|ext_asset_url }}" type="text/javascript"></script>
{% endblock %}
