{%- from "baseframe/mui/components.html.jinja2" import flash_messages with context -%}
{%- block doctypehtml -%}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js {%- if not current_auth.is_anonymous %} userlogin {%- else %} no-userlogin {%- endif %}"> <!--<![endif]-->
{%- endblock %}
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  {%- block titletags %}
    <title>{% block title %}{{ title }}{% endblock %}{% if config['SITE_TITLE'] %} — {{ config['SITE_TITLE'] }}{% endif %}</title>
    <meta name="DC.title" content="{{ self.title()|e }}" />
    <meta property="og:title" content="{{ self.title()|e }}" />
  {%- endblock %}
  <meta name="description" content="{% block description %}{% endblock %}" />
  <meta property="og:description" content="{{ self.description() }}" />
  <meta name="author" href="/humans.txt" />
  {% if csrf_token -%}
    <meta name="csrf-token" content="{{ csrf_token() }}" />
  {%- endif %}
  {% if config['GOOGLE_SITE_VERIFICATION'] -%}
    <meta name="google-site-verification" content="{{ config['GOOGLE_SITE_VERIFICATION'] }}" />
  {%- endif %}
  <link rel="icon" href="/favicon.ico" />
  {%- block canonical_url %}
    <link rel="canonical" href="{{ request.base_url }}" />
    <meta property="og:url" content="{{ request.base_url }}" />
  {%- endblock %}
  {%- block image_src %}
    <link rel="image_src" href="{{ url_for('baseframe.static', filename='img/logo-large.png', _external=true) }}" />
    <meta property="og:image" content="{{ url_for('baseframe.static', filename='img/logo-large.png', _external=true) }}" />
  {%- endblock %}
  <meta name="referrer" content="{% block metareferrer %}always{% endblock %}" />

  <!-- Included CSS Files -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  {%- for asset in config.get('ext_css', []) %}
    <link rel="stylesheet" type="text/css" href="{{ asset|ext_asset_url }}" />
  {%- endfor %}
  {% assets "css_all" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,600italic,400,600" />

  {%- block typekit %}
    {%- if config['TYPEKIT_CODE'] %}
      <script type="text/javascript" src="//use.typekit.com/{{ config['TYPEKIT_CODE'] }}.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {%- endif %}
  {%- endblock %}

  {%- block layoutheaders %}
    {% block pageheaders %}{% endblock %}
  {% endblock %}
</head>

{% block bodytag %}<body>{% endblock %}
  {% block root -%}
    <div id="root">
      <!-- headerbox -->
      {% block sidedrawer -%}
        <div id="js-sidebar" class="mui--no-user-select sidebar">
          <div class="sidebar__inner">
            {% block sidedrawerinner -%}
            {%- endblock %}
          </div>
        </div>
      {%- endblock %}

      {% block headerbox -%}
        <header class="header header--fixed mui--z1" id="js-header">
          <div class="mui-container">
            {% block header -%}
            {%- endblock %}
          </div>
        </header>
      {%- endblock %}
      <!-- /headerbox -->

      {% block contentbox -%}
      <div class="content-wrapper">
        <div class="main-content {% if self.sidedrawer() %} main-content--with-sidebar{% endif %}">
          {% block contenthead %}{% endblock %}
          {%- block basecontentbox %}
            <div class="mui-container">
              {%- block messages %}{{ flash_messages() }}{% endblock %}
              {%- block baseheadline %}{% endblock %}
              {%- block basecontent %}{% endblock %}
            </div>
          {% endblock %}
        </div>
      </div>
      {%- endblock %}
      
      <div id="root_footer"></div>
    </div>
  {%- endblock %}

  {% block basefooter -%}
    <footer class="footer{% if self.sidedrawer() %} footer--with-sidebar{% endif %}">
      <div class="footer__container">
        {% block footer -%}
          <span class="no-print">{% if 'FOOTER_MESSAGE' in config %}{{ config['FOOTER_MESSAGE'] }}{% else %}{% trans %}Copyright &copy; 2010-15 HasGeek{% endtrans %}{% endif %}</span>
          {% block footerinner -%}{%- endblock %}
        {%- endblock %}
      </div>
    </footer>
  {%- endblock %}

  <script src="{{ url_for('baseframe.static', filename='js/modernizr.min.js') }}"></script>
  <!-- Included JS Files -->
  <!--[if lt IE 9]>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript">
      if (typeof jQuery === 'undefined')
        document.write('<script type="text/javascript" src="{{ url_for("baseframe.static", filename="js/jquery-1.11.2.min.js") }}"><\/script>');
    </script>
  <![endif]-->
  <!--[if gte IE 9]><!-->
    {% block jquery -%}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script type="text/javascript">
        if (typeof jQuery === 'undefined')
          document.write('<script type="text/javascript" src="{{ url_for("baseframe.static", filename="js/jquery-2.1.3.min.js") }}"><\/script>');
      </script>
    {%- endblock %}
  <!--<![endif]-->
  {%- for asset in config.get('ext_js', []) %}
    <script type="text/javascript" src="{{ asset|ext_asset_url }}"></script>
  {%- endfor %}
  {#- This block is to include JS assets of the app that are not required on all the pages but has to be included before baseframe bundle(assets "js_all").
  For instance codemirror-markdown-js.js is only required in the formlayout pages. CodeMirror functions are called from baseframe.js, hence it has to be included before  baseframe.js #}
  {% block pagescripts %}{% endblock %}
  {% assets "js_all" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
  
  {%- if config['GA_CODE'] and not config['DEBUG'] -%}
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', {{ config['GA_CODE']|tojson }}, 'auto');
      // Track Device Pixel Ratio
      var pixelRatio = window.getDevicePixelRatio();
      ga('set', 'metric1', pixelRatio);
      ga('set', 'dimension1', {{ request.endpoint|tojson }});
      ga('send', 'pageview');
    </script>
  {%- endif -%}

  {% block layoutscripts %}
    {% block footerscripts %}{% endblock %}
  {% endblock %}
</body>
</html>
