{% extends "layout.html.jinja2" %}

{% block content %}
<div class="grid">
   <div class="grid__col-xs-12">
		<p class="mui--text-title">{{ message }}</p>
		<form id="delete" method="POST" class="mui-form">
		  <input type="hidden" name="form.id" value="delete"/>
		  {{ form.hidden_tag() }}
		  {% if form.csrf_token.errors %}
		    {% for error in form.csrf_token.errors %}<div class="mui-form--error">{{ error }}</div>{% endfor %}
		  {% endif %}
		  <input class="mui-btn mui-btn--raised mui-btn--danger" type="submit" name="delete" value="{% if delete_text %}{{ delete_text }}{% else %}{% trans %}Delete{% endtrans %}{% endif %}"/>
		  <input class="mui-btn mui-btn--raised mui-btn--primary" type="submit" name="cancel" value="{% if cancel_text %}}{ cancel_text }}{% else %}{% trans %}Cancel{% endtrans %}{% endif %}"/>
		</form>
	</div>
</div>
{% endblock %}