{% extends "layout.html.jinja2" -%}

{%- block layoutheaders %}
  {% assets "css_select2" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets -%}
  {% block pageheaders %}{% endblock %}
{% endblock %}

{% block basecontent -%}
  {% block content %}{% endblock %}
{%- endblock %}

{% block pagescripts %}
  {% assets "js_select2" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{% endblock %}
