@font-face {
  font-family: 'Fira Mono';
  src: url('/_baseframe/fonts/fira/eot/FiraMono-Regular.eot');
  src: local('Fira Mono'),
    url('/_baseframe/fonts/fira/eot/FiraMono-Regular.eot')
      format('embedded-opentype'),
    url('/_baseframe/fonts/fira/woff/FiraMono-Regular.woff') format('woff'),
    url('/_baseframe/fonts/fira/ttf/FiraMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
