{% extends "layout.html.jinja2" %}
{% block title %}{% trans %}Access denied{% endtrans %}{% endblock %}

{% block content %}
<p>{% trans %}You do not have access to that page.{% endtrans %}</p>
{% endblock %}
