{% extends "layout.html.jinja2" %}
{% block title %}{% trans %}Not Found{% endtrans %}{% endblock %}

{% block content %}
<p>{% trans %}The page you were looking for does not exist{% endtrans %}</p>
{% endblock %}
