{% extends "layout.html.jinja2" %}
{% block title %}{% trans %}Internal Server Error{% endtrans %}{% endblock %}

{% block content %}
<p>{% trans %}Something broke inside. A report has been sent to the server’s administrator. Our apologies for the inconvenience{% endtrans %}</p>
{% endblock %}
