{% from "baseframe/components.html" import flash_messages, networkbar with context -%}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js {%- if g.user %} userlogin {%- else %} no-userlogin {%- endif %}"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  {%- block titletags %}
    <title>{% block title %}{{ title }}{% endblock %}{% if config['SITE_TITLE'] %} — {{ config['SITE_TITLE'] }}{% endif %}</title>
    <meta name="DC.title" content="{{ self.title()|e }}" />
    <meta property="og:title" content="{{ self.title()|e }}" />
  {%- endblock %}
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="author" href="/humans.txt">
  {% if config['GOOGLE_SITE_VERIFICATION'] -%}
    <meta name="google-site-verification" content="{{ config['GOOGLE_SITE_VERIFICATION'] }}" />
  {%- endif %}
  <link rel="icon" href="/favicon.ico" />
  {%- block image_src %}
    <link rel="image_src" href="{{ url_for('baseframe.static', filename='img/logo@2x.png', _external=true) }}" />
    <meta property="og:image" content="{{ url_for('baseframe.static', filename='img/logo@2x.png', _external=true) }}" />
  {%- endblock %}
  <meta name="referrer" content="{% block metareferrer %}always{% endblock %}" />

  <!-- Included CSS Files -->
  {% assets "css_all" -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {%- endassets %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,600italic,400,600" />
  <script src="{{ url_for('baseframe.static', filename='js/modernizr.min.js') }}"></script>

  {%- block typekit %}
    {%- if config['TYPEKIT_CODE'] %}
      <script type="text/javascript" src="//use.typekit.com/{{ config['TYPEKIT_CODE'] }}.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {%- endif %}
  {%- endblock %}

  {%- block layoutheaders %}{% block pageheaders %}{% endblock %}{% endblock %}
</head>
{% block bodytag %}<body>{% endblock %}
  {% block root -%}
    <div id="root">
      <!-- headerbox -->
      {% block headerbox -%}
      <header>
        {% block networkbar %}{{ networkbar(siteid=config['SITE_ID'], login=config['LASTUSER_CLIENT_ID'] and true or false) }}{% endblock %}
        <div class="container">
          <div id="page-header">
            {% block logo -%}
              <div id="logo"><a href="{{ request.script_root or '/' }}" title="Home">{{ config['SITE_TITLE'] }}</a></div>
            {%- endblock %}
            {%- block header %}{% endblock %}
          </div>
        </div>
      </header>
      {%- endblock %}
      <!-- /headerbox -->

      {% block main -%}
        {% block contenthead %}{% endblock %}
        <div class="container" id="main-content">
          {%- block messages %}{{ flash_messages() }}{% endblock %}
          {%- block baseheadline %}{% endblock %}
          {%- block basecontent %}{% endblock %}
        </div>
      {%- endblock %}
      <!-- /container -->
      <div id="root_footer"></div>
    </div>
    <!-- /root -->
    {% block basefooter -%}
      <footer>
        <div class="footer-inner">
          <div class="container">
            {% block footer -%}
              <span class="no-print">{% if 'FOOTER_MESSAGE' in config %}{{ config['FOOTER_MESSAGE'] }}{% else %}{% trans %}Copyright &copy; 2010-14 HasGeek{% endtrans %}{% endif %}</span>
            {%- endblock %}
          </div>
        </div>
      </footer>
    {%- endblock %}
  {%- endblock %}

  <!-- Included JS Files -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript">
    if (typeof jQuery === 'undefined')
      document.write('<script type="text/javascript" src="{{ url_for("baseframe.static", filename="js/jquery-1.8.3.min.js") }}"><\/script>');
  </script>
  {% assets "js_all" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {%- endassets -%}

  {%- if config['GA_CODE'] and not config['DEBUG'] -%}
    <script type="text/javascript">
      var _gaq = [['_setAccount', '{{ config['GA_CODE'] }}'], ['_trackPageview']];
      (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.async = true;
        g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g, s);
      })(document, 'script');
    </script>
  {%- endif -%}

  {% block layoutscripts %}{% block footerscripts %}{% endblock %}{% endblock %}
</body>
</html>
