@font-face {
  font-family: 'Fira Sans';
  src: url('/_baseframe/fonts/fira/eot/FiraSans-Medium.eot');
  src: local("Fira Sans Medium"), url('/_baseframe/fonts/fira/eot/FiraSans-Medium.eot') format("embedded-opentype"), url('/_baseframe/fonts/fira/woff/FiraSans-Medium.woff') format("woff"), url('/_baseframe/fonts/fira/ttf/FiraSans-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
}
