@font-face {
  font-family: 'Fira Sans';
  src: url('../../_baseframe/fonts/fira/eot/FiraSans-Light.eot');
  src: local("Fira Sans Light"), url('../../_baseframe/fonts/fira/eot/FiraSans-Light.eot') format("embedded-opentype"), url('../../_baseframe/fonts/fira/woff/FiraSans-Light.woff') format("woff"), url('../../_baseframe/fonts/fira/ttf/FiraSans-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
}
