@font-face {
  font-family: 'Fira Sans';
  src: url('/_baseframe/fonts/fira/eot/FiraSans-BoldItalic.eot');
  src: local("Fira Sans Bold Italic"), url('/_baseframe/fonts/fira/eot/FiraSans-BoldItalic.eot') format("embedded-opentype"), url('/_baseframe/fonts/fira/woff/FiraSans-BoldItalic.woff') format("woff"), url('/_baseframe/fonts/fira/ttf/FiraSans-BoldItalic.ttf') format("truetype");
  font-weight: 600;
  font-style: italic;
}
