@font-face {
  font-family: 'Fira Sans';
  src: url('/_baseframe/fonts/fira/eot/FiraSans-Regular.eot');
  src: local("Fira Sans Regular"), url('/_baseframe/fonts/fira/eot/FiraSans-Regular.eot') format("embedded-opentype"), url('/_baseframe/fonts/fira/woff/FiraSans-Regular.woff') format("woff"), url('/_baseframe/fonts/fira/ttf/FiraSans-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}
