@font-face {
  font-family: 'Fira Sans';
  src: url('/_baseframe/fonts/fira/eot/FiraSans-LightItalic.eot');
  src: local("Fira Sans Light Italic"), url('/_baseframe/fonts/fira/eot/FiraSans-LightItalic.eot') format("embedded-opentype"), url('/_baseframe/fonts/fira/woff/FiraSans-LightItalic.woff') format("woff"), url('/_baseframe/fonts/fira/ttf/FiraSans-LightItalic.ttf') format("truetype");
  font-weight: 300;
  font-style: italic;
}
