h1, h2, h3, h4, h5 {
  font-weight: bold;
}

ul, ol {
  margin-left: 30px;
}

.well {
  margin-left: 0;
}
.well.nav.nav-list {
  padding-left: 0;
  padding-right: 0;
}
.well.nav .nav-header {
  color: #999999;
  display: block;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  padding: 3px 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.cardset li .card-body, .userset li .card-body {
  margin: 22px -14px 0;
  font-size: 13px;
  line-height: 20px;
}

#page-header {
  display: none;
}

#main-content {
  margin-top: 5em;
}

@media screen and (min-width: 768px) {
  #page-header {
    display: block;
  }

  #main-content {
    margin-top: auto;
  }
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

div.error:after {
  border: none !important;
}

div.error {
  background: transparent !important;
  padding: 0 !important;
  width: 100% !important;
  color: #333 !important;
}

/* bs3 buttons */
button.btn, a.btn {
  overflow: hidden;
}

.btn-link {
  text-shadow: none;
}
