body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Fira Sans", Arial, sans-serif;
}

.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
  font-family: "Fira Sans", Arial, sans-serif !important;
}

.mce-ico {
  font-family: "tinymce", "Fira Sans", Arial, sans-serif !important;
}

.usertools li.profile, .help-required, .control-label, input[name="title"], .field-title, ul.grid > li.header, .selected label, .listwidget input[type=radio]:checked + label, strong, b, .well.nav .nav-header, .datepicker .nav, .datepicker .dow, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}
