/* HasGeek baseframe CSS */
.hg-h {
  color: #df5e0e;
}

.hg-g {
  color: #816894;
}

.hg-s {
  color: #f0a40c;
}

#hg-bar {
  background: #e8e8e8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e8e8e8));
  background-image: -webkit-linear-gradient(#f9f9f9, #e8e8e8);
  background-image: -moz-linear-gradient(#f9f9f9, #e8e8e8);
  background-image: -o-linear-gradient(#f9f9f9, #e8e8e8);
  background-image: -ms-linear-gradient(#f9f9f9, #e8e8e8);
  background-image: linear-gradient(#f9f9f9, #e8e8e8);
  font: 14px/1.5 Lato, "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "Lucida Sans", Arial, sans-serif;
  color: #444444;
  border-bottom: 1px solid #d5d5d5;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
#hg-bar ul#hg-usertools {
  float: right;
}
#hg-bar ul#hg-usertools .profile {
  font-weight: bold;
}
#hg-bar ul#hg-barlinks {
  float: left;
}
#hg-bar ul#hg-barlinks, #hg-bar ul#hg-usertools {
  *zoom: 1;
  margin: 0 -0.5em;
  position: relative;
  list-style: none;
  font-size: 90%;
}
#hg-bar ul#hg-barlinks:after, #hg-bar ul#hg-usertools:after {
  content: "";
  display: table;
  clear: both;
}
#hg-bar ul#hg-barlinks > li, #hg-bar ul#hg-usertools > li {
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
}
#hg-bar ul#hg-barlinks > li a, #hg-bar ul#hg-usertools > li a {
  display: block;
  padding: 0.4em 0.5em;
  text-decoration: none;
  background-color: inherit;
  color: #444444;
  border-top: 2px solid transparent;
}
#hg-bar ul#hg-barlinks > li a:visited, #hg-bar ul#hg-usertools > li a:visited {
  text-decoration: none;
  background-color: inherit;
  color: #444444;
}
#hg-bar ul#hg-barlinks > li a.hg-submenu:after, #hg-bar ul#hg-usertools > li a.hg-submenu:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-top: 0.65em;
  margin-left: 0.4em;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  content: "▾";
}
#hg-bar ul#hg-barlinks > li ul, #hg-bar ul#hg-usertools > li ul {
  position: absolute;
  margin: 0;
  background: #e8e8e8;
  color: #444444;
  list-style: none;
  z-index: 9999;
  left: -1px;
  overflow: hidden;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid #d5d5d5;
  border-top: 0;
  border-bottom: 0;
  max-height: 0;
  visibility: hidden;
  -moz-transition-property: max-height, visibility;
  -webkit-transition-property: max-height, visibility;
  -o-transition-property: max-height, visibility;
  transition-property: max-height, visibility;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#hg-bar ul#hg-barlinks > li ul li, #hg-bar ul#hg-usertools > li ul li {
  float: none;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}
#hg-bar ul#hg-barlinks > li ul li:last-child, #hg-bar ul#hg-usertools > li ul li:last-child {
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
#hg-bar ul#hg-barlinks > li ul li:hover > a, #hg-bar ul#hg-usertools > li ul li:hover > a {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  color: black;
}
#hg-bar ul#hg-barlinks > li ul li:last-child > a, #hg-bar ul#hg-usertools > li ul li:last-child > a {
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
#hg-bar ul#hg-barlinks > li ul li.hg-menu-section, #hg-bar ul#hg-usertools > li ul li.hg-menu-section {
  padding: 0.4em 0.5em 0.5em;
  font-style: italic;
  color: #888888;
                    /*
                    background: $color-hg-bar-background;
                    z-index: 10000;
                    display: inline-block;

                    &:before {
                        display: block;
                        content:"";
                        position: absolute;
                        height: 1px;
                        border-top: 1px solid black;
                        top: 1em;
                        width: 100%;
                        z-index: 9998;
                    }
                    */
}
#hg-bar ul#hg-barlinks > li ul li.hg-menu-section:before, #hg-bar ul#hg-barlinks > li ul li.hg-menu-section:after, #hg-bar ul#hg-usertools > li ul li.hg-menu-section:before, #hg-bar ul#hg-usertools > li ul li.hg-menu-section:after {
  content: " — ";
}
#hg-bar ul#hg-barlinks > li:hover > a, #hg-bar ul#hg-barlinks > li > a:focus, #hg-bar ul#hg-usertools > li:hover > a, #hg-bar ul#hg-usertools > li > a:focus {
  text-decoration: none;
  background: #e8e8e8;
  border-top: 2px solid #e8e8e8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #d1d1d1));
  background-image: -webkit-linear-gradient(#e8e8e8, #d1d1d1);
  background-image: -moz-linear-gradient(#e8e8e8, #d1d1d1);
  background-image: -o-linear-gradient(#e8e8e8, #d1d1d1);
  background-image: -ms-linear-gradient(#e8e8e8, #d1d1d1);
  background-image: linear-gradient(#e8e8e8, #d1d1d1);
  color: black;
}
#hg-bar ul#hg-barlinks > li:hover > a:after, #hg-bar ul#hg-barlinks > li > a:focus:after, #hg-bar ul#hg-usertools > li:hover > a:after, #hg-bar ul#hg-usertools > li > a:focus:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
#hg-bar ul#hg-barlinks > li:hover > ul, #hg-bar ul#hg-barlinks > li a:focus > ul, #hg-bar ul#hg-usertools > li:hover > ul, #hg-bar ul#hg-usertools > li a:focus > ul {
  left: -1px;
  border: 1px solid #d5d5d5;
  border-top: 0;
  max-height: 40em;
  visibility: visible;
  -moz-box-shadow: -3px 2px 5px -3px rgba(0, 0, 0, 0.1), 3px 2px 5px -3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -3px 2px 5px -3px rgba(0, 0, 0, 0.1), 3px 2px 5px -3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: -3px 2px 5px -3px rgba(0, 0, 0, 0.1), 3px 2px 5px -3px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 2px 5px -3px rgba(0, 0, 0, 0.1), 3px 2px 5px -3px rgba(0, 0, 0, 0.1);
  -moz-transition-property: max-height, visibility;
  -webkit-transition-property: max-height, visibility;
  -o-transition-property: max-height, visibility;
  transition-property: max-height, visibility;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#hg-bar ul#hg-barlinks > li.selected a, #hg-bar ul#hg-usertools > li.selected a {
  border-top: 2px solid #df5e0e;
  color: black;
  font-weight: bold;
}

.page-header {
  margin: 0;
  padding-bottom: 18px;
  border-bottom: 0;
}

.well.nav.nav-list {
  padding-top: 8px;
  padding-bottom: 8px;
}

.nav-list > li {
  padding-top: 3px;
  padding-bottom: 3px;
}

.nav-list > li > a, .nav-list .nav-header {
  margin-top: -3px;
  margin-bottom: -3px;
}

[class^="icon-"], [class*=" icon-"] {
  margin-top: 1px;
}

form.form-button {
  margin: 0;
  display: inline-block;
}

input[type="text"].input-primary {
  color: #df5e0e;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  height: 35px;
}

.table tr.link td, .table tr.link th {
  padding: 0;
}
.table tr.link td a, .table tr.link th a {
  display: block;
  padding: 8px;
}
.table tr.link td a:hover, .table tr.link th a:hover {
  text-decoration: none;
}

.table tr.link a:hover {
  color: #005580;
}

.table.table-condensed tr.link td a, .table.table-condensed tr.link th a {
  padding: 4px;
}

.table .num {
  text-align: right;
}

.table a.link-util {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.table tr:hover a.link-util {
  opacity: 1;
  filter: alpha(opacity=100);
}

.table.table-disabled {
  color: #aaaaaa;
}

blockquote {
  padding: 0 0 0 11px;
  margin: 0 0 0 9px;
  border-left: 5px solid #cccccc;
}
blockquote p {
  margin-bottom: 9px;
  line-height: 18px;
  font-size: 14px;
  font-weight: normal;
}

html {
  overflow-y: scroll;
}

h1 {
  color: #df5e0e;
}
h1 a, h1 a:visited {
  color: #df5e0e;
}
h1 a:hover, h1 a:active {
  color: #974009;
}

h2 {
  color: #816894;
}
h2 a, h2 a:visited {
  color: #816894;
}
h2 a:hover, h2 a:active {
  color: #5a4867;
}

h3 {
  color: #f0a40c;
}
h3 a, h3 a:visited {
  color: #f0a40c;
}
h3 a:hover, h3 a:active {
  color: #a77208;
}

header {
  margin-bottom: 1em;
}
header #page-header {
  border-bottom: 1px solid #b7b7b7;
}

html, body {
  height: 100%;
}

#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -65px;
}

#root #root_footer {
  height: 65px;
}

footer {
  clear: both;
  position: relative;
  min-height: 55px;
}

footer .footer-inner {
  margin-top: 10px;
  min-height: 55px;
  background: whiteSmoke url('../../baseframe/img/shadow.png?1328959567') no-repeat top center;
}

footer .container {
  text-align: center;
  font-size: 90%;
  padding-top: 1.5em;
  padding-bottom: 1em;
}

#logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../../baseframe/img/logo.png?1328964578');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 75px;
  height: 75px;
}
#logo a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

span.loading {
  display: inline-block;
  background: url('../../baseframe/img/ajax-loader.gif?1305733694') center no-repeat;
  width: 16px;
  height: 16px;
}
span.loading.hidden {
  display: none;
}

.section {
  margin-bottom: 18px;
}

.usertools {
  list-style: none;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  font-size: 90%;
}
.usertools li {
  float: left;
  padding: 0.25em 0.5em;
  margin: 0;
  border-right: 1px solid #e8e8e8;
}
.usertools li a {
  text-decoration: none;
  border-bottom: 0;
}
.usertools li.profile {
  font-weight: bold;
}
.usertools li:last-child {
  border-right: 0;
  padding-right: 0;
}

.video, .video169, .video43 {
  position: relative;
  height: 0;
  overflow: hidden;
}
.video iframe, .video object, .video embed, .video169 iframe, .video169 object, .video169 embed, .video43 iframe, .video43 object, .video43 embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video, .video169 {
  padding-bottom: 56.25%;
  padding-top: 30px;
}

.video43 {
  padding-bottom: 75%;
  padding-top: 30px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #logo {
    background-image: url('../../baseframe/img/logo@2x.png?1328994509');
    -webkit-background-size: 75px 75px;
  }
}
.datepicker {
  background-color: #ffffff;
  border-color: #999;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  display: none;
  position: absolute;
  z-index: 900;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 18px;
  padding-bottom: 4px;
  width: 218px;
  font-size: 13px;
}

.datepicker .nav {
  font-weight: bold;
  width: 100%;
  padding: 4px 0;
  background-color: #f5f5f5;
  color: #808080;
  border-bottom: 1px solid #ddd;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  zoom: 1;
}

.datepicker .nav:before, .datepicker .nav:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}

.datepicker .nav:after {
  clear: both;
}

.datepicker .nav span {
  display: block;
  float: left;
  text-align: center;
  height: 28px;
  line-height: 28px;
  position: relative;
}

.datepicker .nav .bg {
  width: 100%;
  background-color: #fdf5d9;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.datepicker .nav .fg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.datepicker .button {
  cursor: pointer;
  padding: 0 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.datepicker .button:hover {
  background-color: #808080;
  color: #ffffff;
}

.datepicker .months {
  float: left;
  margin-left: 4px;
}

.datepicker .months .name {
  width: 72px;
  padding: 0;
}

.datepicker .years {
  float: right;
  margin-right: 4px;
}

.datepicker .years .name {
  width: 36px;
  padding: 0;
}

.datepicker .dow, .datepicker .days div {
  float: left;
  width: 30px;
  line-height: 25px;
  text-align: center;
}

.datepicker .dow {
  font-weight: bold;
  color: #808080;
}

.datepicker .calendar {
  padding: 4px;
}

.datepicker .days div {
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.datepicker .days div:hover {
  background-color: #0064cd;
  color: #ffffff;
}

.datepicker .overlap {
  color: #bfbfbf;
}

.datepicker .today {
  background-color: #fee9cc;
}

.datepicker .selected {
  background-color: #bfbfbf;
  color: #ffffff;
}

.ad-medrect {
  width: 300px;
  height: 250px;
  display: inline-block;
}

.ad-rect {
  width: 180px;
  height: 150px;
  display: inline-block;
}

.ad-leaderboard {
  width: 728px;
  height: 90px;
  display: inline-block;
}

.ad-wideskyscraper {
  width: 160px;
  height: 600px;
  display: inline-block;
}

.ad-halfpage {
  width: 300px;
  height: 600px;
  display: inline-block;
}

.ad-button {
  width: 120px;
  height: 60px;
  display: inline-block;
}

.ad-microbar {
  width: 88px;
  height: 31px;
  display: inline-block;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url('../../baseframe/fonts/lato-italic.woff') format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url('../../baseframe/fonts/lato-bold-italic.woff') format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url('../../baseframe/fonts/lato-bold.woff') format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url('../../baseframe/fonts/lato-regular.woff') format("woff");
}
