/* HasGeek baseframe CSS */
.hg-h {
  color: #df5e0e;
}

.hg-g {
  color: #816894;
}

.hg-s {
  color: #f0a40c;
}

#hg-bar {
  background: #e8e8e8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e8e8e8));
  background-image: -webkit-linear-gradient(#f9f9f9, #e8e8e8);
  background-image: -moz-linear-gradient(#f9f9f9, #e8e8e8);
  background-image: -o-linear-gradient(#f9f9f9, #e8e8e8);
  background-image: -ms-linear-gradient(#f9f9f9, #e8e8e8);
  background-image: linear-gradient(#f9f9f9, #e8e8e8);
  font: 13px/1.5 "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "Lucida Sans", Arial, sans-serif;
  color: #444444;
  border-bottom: 1px solid #df5e0e;
  margin-bottom: 1em;
}
#hg-bar ul#hg-barlinks {
  *zoom: 1;
  margin: 0 -0.5em;
  position: relative;
  list-style: none;
  font-size: 90%;
}
#hg-bar ul#hg-barlinks:after {
  content: "";
  display: table;
  clear: both;
}
#hg-bar ul#hg-barlinks > li {
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
}
#hg-bar ul#hg-barlinks > li a {
  display: block;
  padding: 0.4em 0.5em;
  text-decoration: none;
  background-color: inherit;
  color: #444444;
  border-top: 2px solid transparent;
}
#hg-bar ul#hg-barlinks > li a:visited {
  text-decoration: none;
  background-color: inherit;
  color: #444444;
}
#hg-bar ul#hg-barlinks > li a.hg-submenu:after {
  content: " ▾";
}
#hg-bar ul#hg-barlinks > li ul {
  position: absolute;
  margin: 0;
  background: #e8e8e8;
  color: #444444;
  list-style: none;
  z-index: 9999;
  left: -9999px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid #df5e0e;
  border-top: none;
}
#hg-bar ul#hg-barlinks > li ul li {
  float: none;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}
#hg-bar ul#hg-barlinks > li ul li:last-child {
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
#hg-bar ul#hg-barlinks > li ul li:hover > a {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  color: black;
}
#hg-bar ul#hg-barlinks > li ul li:last-child > a {
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
#hg-bar ul#hg-barlinks > li ul li.hg-menu-section {
  padding: 0.4em 0.5em 0.5em;
  font-style: italic;
}
#hg-bar ul#hg-barlinks > li ul li.hg-menu-section:before, #hg-bar ul#hg-barlinks > li ul li.hg-menu-section:after {
  content: " — ";
}
#hg-bar ul#hg-barlinks > li:hover > a, #hg-bar ul#hg-barlinks > li > a:active {
  text-decoration: none;
  background: #e8e8e8;
  border-top: 2px solid #e8e8e8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #d1d1d1));
  background-image: -webkit-linear-gradient(#e8e8e8, #d1d1d1);
  background-image: -moz-linear-gradient(#e8e8e8, #d1d1d1);
  background-image: -o-linear-gradient(#e8e8e8, #d1d1d1);
  background-image: -ms-linear-gradient(#e8e8e8, #d1d1d1);
  background-image: linear-gradient(#e8e8e8, #d1d1d1);
  color: black;
}
#hg-bar ul#hg-barlinks > li:hover > ul {
  left: -1px;
}
#hg-bar ul#hg-barlinks > li.selected a {
  border-top: 2px solid #df5e0e;
  color: black;
  font-weight: bold;
}

h1 {
  color: #df5e0e;
}

h2 {
  color: #816894;
}

h3 {
  color: #f0a40c;
}

header {
  border-bottom: 1px solid #b7b7b7;
  margin-bottom: 1em;
  position: relative;
}

html, body {
  height: 100%;
}

#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -55px;
}

#root #root_footer {
  height: 55px;
}

footer {
  clear: both;
  position: relative;
  min-height: 55px;
  background: whiteSmoke url('../img/shadow.png?1328717766') no-repeat top center;
}

footer .container {
  text-align: center;
  font-size: 90%;
  padding-top: 1.5em;
  padding-bottom: 1em;
}

#logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/logo.png?1328686920');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 75px;
  height: 75px;
}
#logo a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.usertools {
  list-style: none;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  font-size: 90%;
}
.usertools li {
  float: left;
  padding: 0.25em 0.5em;
  margin: 0;
  border-right: 1px solid #e8e8e8;
}
.usertools li a {
  text-decoration: none;
  border-bottom: 0;
}
.usertools li.profile {
  font-weight: bold;
}
.usertools li:last-child {
  border-right: 0;
  padding-right: 0;
}

.ad-medrect {
  width: 300px;
  height: 250px;
  display: inline-block;
}

.ad-rect {
  width: 180px;
  height: 150px;
  display: inline-block;
}

.ad-leaderboard {
  width: 728px;
  height: 90px;
  display: inline-block;
}

.ad-wideskyscraper {
  width: 160px;
  height: 600px;
  display: inline-block;
}

.ad-halfpage {
  width: 300px;
  height: 600px;
  display: inline-block;
}

.ad-button {
  width: 120px;
  height: 60px;
  display: inline-block;
}

.ad-microbar {
  width: 88px;
  height: 31px;
  display: inline-block;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url('fonts/lato-italic.woff') format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url('fonts/lato-bold-italic.woff') format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url('fonts/lato-bold.woff') format("woff");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url('fonts/lato-regular.woff') format("woff");
}
