/* CodeMirror customizations */
.CodeMirror {
  font-size: 16px;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  border-bottom: 1px solid #c0ccda;
  box-shadow: none;
  border-radius: 0;
  height: auto;
  min-height: 6em;
}

.CodeMirror-focused {
  border-color: #4a90e2;
  border-width: 2px;
}

.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  padding: 0;
}
