/* CodeMirror customizations */
.CodeMirror {
  font-size: 16px;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  border-bottom: 1px solid #c0ccda;
  box-shadow: none;
  border-radius: 0;
  height: 12em;
}

.CodeMirror-focused {
  border-color: #4a90e2;
  border-width: 2px;
}

.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  padding: 0;
}

.CodeMirror-focused .CodeMirror-selected {
  background: Highlight;
}
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: Highlight;
}
.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
  background: Highlight;
}
