/* CodeMirror customizations */
.CodeMirror {
  font-family: inherit;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  font-size: 14px;
  line-height: 20px;
  padding: 3px;
  color: #333;
}

.cm-s-default .cm-header {
  color: #df5e0e;
}

.cm-header, .cm-strong {
  font-weight: 600;
}
