@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url('../../baseframe/fonts/sourcesanspro-regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: local("Source Sans Pro Semibold Italic"), local("SourceSansPro-SemiboldIt"), url('../../baseframe/fonts/sourcesanspro-semibolditalic.ttf') format("truetype");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url('../../baseframe/fonts/sourcesanspro-italic.ttf') format("truetype");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url('../../baseframe/fonts/sourcesanspro-semibold.ttf') format("truetype");
}
