@font-face {
  font-family: 'Lato';
  src: url('../../baseframe/fonts/lato-regular.eot');
  src: local("Lato Regular"), local("Lato-Regular"), url('../../baseframe/fonts/lato-regular.eot?#iefix') format("embedded-opentype"), url('../../baseframe/fonts/lato-regular.woff') format("woff"), url('../../baseframe/fonts/lato-regular.ttf') format("truetype"), url('../../baseframe/fonts/lato-regular.svg#Lato-Regular') format("ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('../../baseframe/fonts/lato-italic.eot');
  src: local("Lato Italic"), local("Lato-Italic"), url('../../baseframe/fonts/lato-italic.eot?#iefix') format("embedded-opentype"), url('../../baseframe/fonts/lato-italic.woff') format("woff"), url('../../baseframe/fonts/lato-italic.ttf') format("truetype"), url('../../baseframe/fonts/lato-italic.svg#Lato-Italic') format("svg");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('../../baseframe/fonts/lato-bold-italic.eot');
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url('../../baseframe/fonts/lato-bold-italic.eot?#iefix') format("embedded-opentype"), url('../../baseframe/fonts/lato-bold-italic.woff') format("woff"), url('../../baseframe/fonts/lato-bold-italic.ttf') format("truetype"), url('../../baseframe/fonts/lato-bold-italic.svg#Lato-BoldItalic') format("svg");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('../../baseframe/fonts/lato-bold.eot');
  src: local("Lato Bold"), local("Lato-Bold"), url('../../baseframe/fonts/lato-bold.eot?#iefix') format("embedded-opentype"), url('../../baseframe/fonts/lato-bold.woff') format("woff"), url('../../baseframe/fonts/lato-bold.ttf') format("truetype"), url('../../baseframe/fonts/lato-bold.svg#Lato-Bold') format("svg");
  font-style: normal;
  font-weight: 700;
}
