.select2-container--bootstrap .select2-selection {
  font-size: 16px;
}

.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
  height: 38px;
  line-height: 36px;
}

.select2-container--bootstrap .select2-selection {
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
