.alert {
  padding: $mui-panel-padding;
  margin-top: $mui-base-line-height-computed;
  margin-bottom: $mui-base-line-height-computed;
  border: 1px solid transparent;
  border-radius: $mui-border-radius-default ;

  .alert__heading {
	  margin-top: 0;
	  color: inherit;
	}

	.alert__link {
	  font-weight: bold;
	  color: inherit;
	}

	.alert__text {
	  @extend .mui--text-subhead;
	  margin-bottom: 0;
	}

	.alert__close {
		float: right;
	  position: relative;
	  top: -2px;
	  right: -21px;
	  color: inherit;
	  cursor: pointer;
	}

	.alert__icon {
	  vertical-align: top;
		font-size: inherit;
		line-height: inherit;
	}

}

.alert--dismissable {
  padding-right: 35px;
}

.alert--success {
  background-color: transparentize($mui-success-color, 0.9);
  border-color: transparentize($mui-success-color, 0.8);
  color: $mui-success-color;
}

.alert--success .alert__hr {
  border-top-color: #c9e2b3;
}

.alert--info {
  background-color: transparentize($mui-info-color, 0.9);
  border-color: transparentize($mui-info-color, 0.8);;
  color: $mui-info-color;
}

.alert--info .alert__hr {
  border-top-color: #a6e1ec;
}

.alert--warning {
  background-color: transparentize($mui-warning-color, 0.9);
  border-color: transparentize($mui-warning-color, 0.8);
  color: $mui-warning-color;
}

.alert-warning .alert__hr {
  border-top-color: #f7e1b5;
}

.alert--danger {
  background-color: transparentize($mui-danger-color, 0.9);
  border-color: transparentize($mui-danger-color, 0.8);
  color: $mui-danger-color;
}

.alert--danger .alert__hr {
  border-top-color: #e4b9c0;
}
