.chip {
	padding: 5px;
	border: 0;
	border-radius: $mui-border-radius-default;
	background-color: #F7e2c5;
	display: inline-block;
	color: #906B37;
	white-space: nowrap;

	.chip__text {
	  @extend .mui--text-caption;
	  line-height: 1;
	  vertical-align: middle;
	  display: inline-block;
	}
}

.chip + .chip {
  margin-left: $mui-btn-spacing-horizontal;
}