#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -65px;
}

#root_footer {
  height: 65px;
}

.footer {
  clear: both;
  position: relative;
  margin-top: $reflex-cell-spacing;
  background: whiteSmoke image-url('shadow.png') no-repeat top center;

  .footer__container {
    min-height: 25px;
    text-align: center;
    @extend .mui--text-caption;
    padding-top: $reflex-cell-spacing;
    padding-bottom: $reflex-cell-spacing;
    p {
      font-size: inherit;
    }
  }
}

@media (min-width: 1200px) {
  .footer--with-sidebar {
    margin-left: 160px;
  }
}
