// ============================================================================
// LISTS
// ============================================================================

.mui-list--aligned {
  padding-left: $reflex-cell-spacing;
}

// ============================================================================
// DISPLAY
// ============================================================================

.mui--d-block {
  display: block;
}
.mui--d-inlineblock {
  display: inline-block;
}
.mui--d-inline {
  display: inline;
}

// ============================================================================
// BACKGROUND COLORS
// ============================================================================

.mui--bg-primary {
  background-color: $mui-bg-color-primary;
}
.mui--bg-primary-dark {
  background-color: $mui-bg-color-dark;
}
.mui--bg-primary-light {
  background-color: $mui-bg-color-light;
}

.mui--bg-accent {
  background-color: $mui-bg-color-accent;
}

// ============================================================================
// TYPOGRAPHY
// ============================================================================

.mui--text-display3 {
  font-weight: 400;
  font-size: 64px;
  line-height: 1.2;
}

.mui--text-display2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
}

.mui--text-display1,
h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
}

.mui--text-headline,
h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
}

.mui--text-title,
h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.mui--text-subhead,
h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.mui--text-body2,
h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.mui--text-body1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.mui--text-caption,
h6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

.mui--text-menu,
.mui--text-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.mui--text-warning {
  color: $mui-warning-color;
}

// ============================================================================
// Text transform
// ============================================================================

.mui--text-uppercase {
  text-transform: uppercase;
}

.mui--text-capitalize {
  text-transform: capitalize;
}

// ============================================================================
// Text decoration
// ============================================================================

.mui--text-underline {
  text-decoration: underline;
}

// ============================================================================
// Font weight
// ============================================================================

.mui--text-bold {
  font-weight: 600;
}

// ============================================================================
// Button
// ============================================================================

.mui-btn.mui-btn--nostyle {
  padding: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  background: none;
  box-shadow: none;
  height: auto;
  border: none;
}

.mui-btn.mui-btn--nostyle:hover,
.mui-btn.mui-btn--nostyle:active,
.mui-btn.mui-btn--nostyle:focus .mui-btn.mui-btn--nostyle:active:hover {
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  box-shadow: none;
}

.mui-btn--nostyle + .mui-btn--nostyle {
  margin-left: 8px;
}

// ============================================================================
// Font awesome 5
// ============================================================================

.fa5-icon {
  width: 14px;
  height: 14px;
  fill: currentColor;
}

.fa5--align-baseline {
  position: relative;
  top: 0.09em;
}

.fa5-icon--caption {
  width: 12px;
  height: 12px;
}

.fa5-icon--body {
  width: 14px;
  height: 14px;
}

.fa5-icon--subhead {
  width: 16px;
  height: 16px;
}

.fa5-icon--title {
  width: 18px;
  height: 18px;
}

.fa5-icon--headline {
  width: 24px;
  height: 24px;
}

.fa5-icon--display1 {
  width: 32px;
  height: 32px;
}
