html, body {
  height: 100%;
}

[class*="grid__col-"] {
  padding-top: 0;
  padding-bottom: 0;
}

h1, h2, h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mui-btn .material-icons,
.material-icons--small {
  vertical-align: bottom;
  font-size: 18px;
  line-height: inherit;
}

.mui-divider {
  width: 100%;
}

.main-content {
  position: relative;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .main-content--with-sidebar {
    margin-left: 160px;
    padding-left: 2*$reflex-cell-spacing;
    padding-right: 2*$reflex-cell-spacing;
  }
}

.mui-form--margins {
  margin-top: 3*$reflex-cell-spacing;
  margin-bottom: 2*$reflex-cell-spacing;
}

.table-wrapper {
  overflow-x: auto;
}

.img-responsive {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $mui-overlay-bg-color;
  z-index: 2;
}
