$footer-height: 67px;

html, body {
    height: 100%;
}

[class*="grid__col-"] {
  padding-top: 0;
  padding-bottom: 0;
}

h1, h2, h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mui-btn .material-icons,
.material-icons--small {
  vertical-align: bottom;
  font-size: 18px;
  line-height: inherit;
}

.mui-divider {
  width: 100%;
}

.mui-appbar--custom {
  min-height: 40px;
  height: 56px;
}

.header--fixed {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.header__nav--custom {
  min-height: 40px;
  height: 40px;
  margin-top: 5px;
}

.header__app-icon {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-right: 8px;
  height: 24px;
}

.header__app-icon:hover {
  color: inherit;
  text-decoration: none;
}

.header__site-title {
  display: -webkit-box;
  display: flex;
  margin: 0;
  @extend .mui--text-headline;
  color: inherit;
  line-height: 40px;
  width: 60%;
}

.header__site-title__item {
  margin: 0;
  @extend .mui--text-headline;
  color: inherit;
  line-height: 40px;
}

.header__site-title__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header__right-nav {
  width: 40%;
}

.header__site-title--sidenav {
  width: 100%;
  text-align: center;
  display: block;
  border-bottom: 1px solid $mui-divider-color;
}

@media (min-width: 1200px) {
  .header__site-title {
    padding-left: 15px;
  }
  .header__right-nav {
    padding-right: 15px;
  }
  .header__app-icon--menu {
    display: none;
  }
}

.header__dropdown-app-img {
  max-width: 50px;
  height: 30px;
}

.header__dropdown-app-title {
  @extend .mui--text-body2;
  margin: 0 0 8px;
}

.header__nav-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.header__nav-list__item {
  @extend .mui--align-middle;
  height: 24px;
}

.header__button {
  margin: 0;
}

.header__nav-links {
  @extend .mui--text-subhead;
  color: $mui-text-dark;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.header__nav-links:hover {
  color: inherit;
  text-decoration: none;
}

.header__side-nav-list {
  padding: 8px;
  list-style: none;
  text-align: center;

  .header__side-nav-list__item {
    @extend .mui--text-body2;
    @extend .mui--align-middle;
    padding: 16px 0;
  }

  .header__side-nav-list__item__icon {
    @extend .mui--text-title;
    @extend .mui--align-middle;
  }
}

.content-wrapper {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  z-index: 999999999;
  background-color: $mui-bg-color-primary;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
  -webkit-transform: translate(-160px, 0);
  transform: translate(-160px, 0);
  width: 160px;
}

@media (min-width: 1200px) {
  .sidebar {
    padding-top: 60px;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: none;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .header__site-title--sidenav {
    display: none;
  }
}

.sidebar.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.main-content {
  position: relative;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .main-content--with-sidebar {
    margin-left: 160px;
    padding-left: 2*$reflex-cell-spacing;
    padding-right: 2*$reflex-cell-spacing;
  }
}

.footer {
  background: whiteSmoke image-url('shadow.png') no-repeat top center;

  .footer__container {
    text-align: center;
    font-size: 90%;
    padding-top: 1.5em;
    padding-bottom: 1em;
    p {
      font-size: inherit;
    }
  }
}

@media (min-width: 1200px) {
  .footer--with-sidebar {
    margin-left: 160px;
  }
}

@media screen and (max-width: 767px) {
  dl.infobox {
    border: 1px solid #b7b7b7;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 3px rgba(mui-color('black'), 0.12),
                    0 1px 2px rgba(mui-color('black'), 0.24);
    -webkit-box-shadow: 0 1px 3px rgba(mui-color('black'), 0.12),
                        0 1px 2px rgba(mui-color('black'), 0.24);
    box-shadow: 0 1px 3px rgba(mui-color('black'), 0.12),
                0 1px 2px rgba(mui-color('black'), 0.24);
    background: #f6f6f6;
    padding: 12px;
  }
}
@media screen and (min-width: 768px) {
  dl.infobox {
    position: relative;
    border: 1px solid #b7b7b7;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 3px rgba(mui-color('black'), 0.12),
                     0 1px 2px rgba(mui-color('black'), 0.24);
    -webkit-box-shadow:0 1px 3px rgba(mui-color('black'), 0.12),
                       0 1px 2px rgba(mui-color('black'), 0.24);
    box-shadow: 0 1px 3px rgba(mui-color('black'), 0.12),
                0 1px 2px rgba(mui-color('black'), 0.24);
    padding: 0;
    background: #e8e8e8;
  }
  dl.infobox dt {
    width: 10em;
    float: left;
    clear: left;
    margin: 0;
    padding: 4px 0 0 0.5em;
    text-align: right;
  }
  dl.infobox dd {
    *zoom: 1;
    position: relative;
    text-indent: 0;
    clear: none;
    margin: 0;
    margin-left: 11.25em;
    border-left: 1px solid #d7d7d7;
    background: #f6f6f6;
    padding: 4px 0 0 0.75em;
  }
  dl.infobox dd:after {
    content: "";
    display: table;
    clear: both;
  }
  dl.infobox dd ul, dl.infobox dd ol {
    margin-bottom: 0;
  }
  dl.infobox dt:first-child {
    padding-top: 12px;
  }
  dl.infobox dt:first-child + dd {
    padding-top: 12px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
  }
  dl.infobox dd:last-child {
    padding-bottom: 12px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.table-wrapper {
  overflow-x: auto;
}

.img-responsive {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $mui-overlay-bg-color;
  z-index: 2;
}
