html, body {
    height: 100%;
}

[class*="grid__col-"] {
    padding-top: 0;
    padding-bottom: 0;
}

h1, h2, h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}

.mui-divider {
    width: 100%;
}

.main-content {
    position: relative;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .main-content--with-sidebar {
        margin-left: 160px;
        padding-left: 2*$reflex-cell-spacing;
        padding-right: 2*$reflex-cell-spacing;
    }
}

.table-wrapper {
    overflow-x: auto;
}

.img-responsive {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $mui-overlay-bg-color;
    z-index: 2;
}

.map {
    .map__marker {
        margin-top: $mui-form-group-margin-bottom/2;
        width: 100%;
        height: 40em;
    }
}

/* Cookies */
.cookies-required-alert,
.no-cookies .cookies-required {
    display: none
}

.cookies-required,
.no-cookies .cookies-required-alert {
    display: block
}

.no-cookies .cookies-required-alert {
    margin-top: 1em
}

.js .jshidden,
.js .no-js-only {
    display: none;
    visibility: hidden;
}

.no-js .no-jshidden,
.no-js .js-only {
    display: none;
    visibility: hidden;
}

.userlogin .no-userlogin-only {
    display: none;
    visibility: hidden;
}

.no-userlogin .userlogin-only {
    display: none;
    visibility: hidden;
}
