.mui-appbar--custom {
    min-height: 40px;
    height: 56px;
}

.header--fixed {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.header__nav--custom {
    min-height: 40px;
    height: 40px;
    margin-top: 7px;
}

.header__app-icon {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-right: 8px;
    height: 24px;
}

.header__app-icon:hover {
    color: inherit;
    text-decoration: none;
}

.header__site-title {
    display: -webkit-box;
    display: flex;
    margin: 0;
    @extend .mui--text-headline;
    color: inherit;
    line-height: 40px;
    width: 60%;
    padding-left: $mui-grid-gutter-width / 2;
}

.header__site-title__item {
    margin: 0;
    @extend .mui--text-headline;
    color: inherit;
    line-height: 40px;
}

.header__site-title__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header__right-nav {
    width: 40%;
    padding-right: $mui-grid-gutter-width / 2;
}

.header__site-title--sidenav {
    width: 100%;
    text-align: center;
    display: block;
    border-bottom: 1px solid $mui-divider-color;
    padding-left: 0;
}

@media (min-width: 1200px) {
  .header__site-title {
    padding-left: 15px;
  }
  .header__right-nav {
    padding-right: 15px;
  }
  .header__app-icon--menu {
    display: none;
  }
}

.header__dropdown-app-img {
    max-width: 50px;
    height: 30px;
}

.header__dropdown-app-title {
    @extend .mui--text-body2;
    margin: 0 0 8px;
}

.header__nav-list {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header__nav-list__item {
    @extend .mui--align-middle;
}

.header__button {
    margin: 0;
}

.header__nav-links {
    @extend .mui--text-subhead;
    color: $mui-text-dark;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.header__nav-links:hover {
    color: inherit;
    text-decoration: none;
}

.header__side-nav-list {
    padding: 8px;
    list-style: none;
    text-align: center;

  .header__side-nav-list__item {
    @extend .mui--text-body2;
    @extend .mui--align-middle;
    padding: 16px 0;
  }

  .header__side-nav-list__item__icon {
    @extend .mui--text-title;
    @extend .mui--align-middle;
  }
}

.content-wrapper {
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    z-index: 999999999;
    background-color: $mui-bg-color-primary;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
    -webkit-transform: translate(-160px, 0);
    transform: translate(-160px, 0);
    width: 160px;
}

@media (min-width: 1200px) {
  .sidebar {
    padding-top: 60px;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: none;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .header__site-title--sidenav {
    display: none;
  }
}

.sidebar.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
