.modal {
  display: none;
  padding: $mui-grid-padding;
  @extend .mui--z1;
  width: 100%;
  height: 100%;

  //Use fa5 icon for close
  a.close-modal {
    display: none;
  }

  .modal__close {
    position: absolute;
    top: $mui-grid-padding/2;
    right: $mui-grid-padding/2;
    display: block;
  }
  .modal__header {
    @extend .mui--text-title;
  }
  .modal__body {
    @extend .mui--text-body2;
  }
  .modal__body__btn {
    margin-top: $mui-grid-padding;
  }
}

.jquery-modal.blocker.current {
  z-index: 1001;
  padding: 0;
  .modal {
    display: inline-block;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .jquery-modal.blocker.current {
    padding: $mui-grid-padding;

    .modal {
      max-width: 500px;
      width: 90%;
      padding: $mui-grid-padding + $mui-grid-padding/2;
      height: auto;
    }
  }
}
