.modal {
  display: none;
  padding: $mui-grid-padding;
  @extend .mui--z1;

  //Use fa5 icon for close
  a.close-modal {
    display: none;
  }

  .modal__close {
    position: absolute;
    top: $mui-grid-padding/2;
    right: $mui-grid-padding/2;
    display: block;
  }
  .modal__header {
    @extend .mui--text-title;
  }
  .modal__body {
    @extend .mui--text-body2;
  }
}

@media (min-width: 1200px) {
  .modal {
    padding: $mui-grid-padding + $mui-grid-padding/2;
  }
}

.jquery-modal.blocker.current {
  z-index: 1001;
  > .modal {
    display: inline-block;
    overflow: hidden;
  }
}
