.mui-table.mui-table--hover {
	> tbody {
		> tr {
			> td:hover {
				background-color: $mui-primary-color-light;
			}
		}
  }
}

@media (max-width: 1200px) {
	.mui-table.mui-table--responsive {
	  	min-width: 300px;

	  	th {
			display: none;   
		}

		> tbody {

			>tr {
				border-top: 1px solid rgba(132,146,166,0.3);
				border-bottom: 1px solid rgba(132,146,166,0.3);
				display: block;

			    >td {
		    		display: block;
		    		border: none;
			    
			    	&:first-child {
			      		padding-top: .5em;
			    	}

			    	&:last-child {
			      		padding-bottom: .5em;
			    	}

				    &:before {
				      	content: attr(data-th)": ";
				      	font-weight: bold;
				      	font-size: inherit;
				      	width: 100%;
				      	display: inline-block;
				    }
		  		}
			}

		}
  	}
}

.mui-table.mui-table--bordered>tbody>tr:last-child>td {
	border: none;
}
