.tab-container {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

  .tab-container__tab {
    flex: 1 0 0;
    padding: $mui-grid-padding/2;
    opacity: 0.4;
    text-align: center;
    border-bottom: 2px solid transparent;
  }

  .tab-container__tab.active {
    opacity: 1;
    border-bottom: 2px solid $mui-text-hyperlink;
    color: $mui-text-hyperlink;
  }

  .tab-container__tab a {
    color: inherit;
    display: inline-block;
    width: 100%;
  }
  .tab-container__tab a:focus,
  .tab-container__tab a:active,
  .tab-container__tab a:hover {
    text-decoration: none;
    outline: none;
  }
}

.mui-tabs__bar--pills {
  li {
    border: 1px solid $mui-divider-color;
    border-radius: 30px;
    margin-right: $mui-grid-padding/2;
    background: $mui-bg-color-accent;
  }
  li a {
    height: 30px;
    line-height: 30px;
    padding-left: $mui-grid-padding;
    padding-right: $mui-grid-padding;
    cursor: pointer;
    color: $mui-text-light;
    text-decoration: none !important;
    text-transform: inherit;
  }
  li.mui--is-active {
    border: 1px solid transparentize($mui-text-info, 0.8);
    background: $mui-info-color;
    a {
      text-decoration: none !important;
    }
  }
}

.mui-tabs__bar--pills--wraps {
  white-space: normal;
  li {
    margin-bottom: 8px;
  }
}

.tabs {
  display: flex;
  width: 100%;
  overflow: auto;
  align-items: center;
  margin: $mui-grid-padding/2 0;

  .tabs__item {
    padding: $mui-grid-padding/2 $mui-grid-padding;
    cursor: pointer;
    position: relative;
    min-width: 2 * $mui-grid-padding;
    border: none;
    margin: 0 8px 0 0;
    text-align: center;
    cursor: pointer;
    flex: 0 0 auto;
    background: none;
    border-radius: 16px;
    font-weight: 500;
    color: $mui-text-dark;
    background: $mui-bg-color-dark;
  }

  .tabs__item--width {
    min-width: auto;
  }

  .tabs__item:hover,
  .tabs__item:focus {
    text-decoration: none;
    outline: none;
  }

  .tabs__item--active {
    color: $mui-primary-color;
    background: transparentize($mui-primary-color, 0.9);
  }

  .tabs__item-control {
    position: fixed;
    z-index: 1000;
    background: $mui-bg-color-primary;
    min-width: auto;
    top: 0;
    padding: $mui-grid-padding $mui-grid-padding 6px;
    align-self: center;
    box-shadow: 0 2px 2px -1px rgba(158, 158, 158, 0.24);

    .tabs__item-control__icon {
      vertical-align: middle;
    }
  }
  .tabs__item-control--prev {
    left: 0;
  }
  .tabs__item-control--next {
    right: 0;
  }
}
