@font-face {
  font-family: 'Fira Sans';
  src: font-url('fira/eot/FiraSans-BoldItalic.eot');
  src: local('Fira Sans Bold Italic'),
    font-url('fira/eot/FiraSans-BoldItalic.eot') format('embedded-opentype'),
    font-url('fira/woff/FiraSans-BoldItalic.woff') format('woff'),
    font-url('fira/ttf/FiraSans-BoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
