@font-face{
    font-family: 'Fira Sans';
    src: font-url('fira/eot/FiraSans-LightItalic.eot');
    src: local('Fira Sans Light Italic'),
         font-url('fira/eot/FiraSans-LightItalic.eot') format('embedded-opentype'),
         font-url('fira/woff/FiraSans-LightItalic.woff') format('woff'),
         font-url('fira/ttf/FiraSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
