@font-face {
  font-family: 'Fira Sans';
  src: font-url('fira/eot/FiraSans-MediumItalic.eot');
  src: local('Fira Sans Medium Italic'),
    font-url('fira/eot/FiraSans-MediumItalic.eot') format('embedded-opentype'),
    font-url('fira/woff/FiraSans-MediumItalic.woff') format('woff'),
    font-url('fira/ttf/FiraSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
