@font-face{
    font-family: 'Fira Mono';
    src: font-url('fira/eot/FiraMono-Regular.eot');
    src: local('Fira Mono'),
         font-url('fira/eot/FiraMono-Regular.eot') format('embedded-opentype'),
         font-url('fira/woff/FiraMono-Regular.woff') format('woff'),
         font-url('fira/ttf/FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
