@font-face {
  font-family: 'Fira Sans';
  src: font-url('fira/eot/FiraSans-RegularItalic.eot');
  src: local('Fira Sans Regular Italic'),
    font-url('fira/eot/FiraSans-RegularItalic.eot') format('embedded-opentype'),
    font-url('fira/woff/FiraSans-RegularItalic.woff') format('woff'),
    font-url('fira/ttf/FiraSans-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
