@font-face{
    font-family: 'Fira Sans';
    src: font-url('fira/eot/FiraSans-Bold.eot');
    src: local('Fira Sans Bold'),
         font-url('fira/eot/FiraSans-Bold.eot') format('embedded-opentype'),
         font-url('fira/woff/FiraSans-Bold.woff') format('woff'),
         font-url('fira/ttf/FiraSans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
