@font-face{
    font-family: 'Fira Mono';
    src: font-url('fira/eot/FiraMono-Bold.eot');
    src: local('Fira Mono Bold'),
         font-url('fira/eot/FiraMono-Bold.eot') format('embedded-opentype'),
         font-url('fira/woff/FiraMono-Bold.woff') format('woff'),
         font-url('fira/ttf/FiraMono-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
