@font-face {
  font-family: 'Fira Sans';
  src: font-url('fira/eot/FiraSans-Medium.eot');
  src: local('Fira Sans Medium'),
    font-url('fira/eot/FiraSans-Medium.eot') format('embedded-opentype'),
    font-url('fira/woff/FiraSans-Medium.woff') format('woff'),
    font-url('fira/ttf/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
